
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!-- slide 1 -->
                            <div class="carousel-item active">
                                <div class="slider">
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 2 -->
                            <div class="carousel-item">
                                <div class="slider">
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- slide 3 -->
                            <div class="carousel-item">
                                <div class="slider">
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="show">
                                        <a href="#">
                                            <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                        </a>
                                        <a href="#">
                                            <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                        </a>
                                        <h4>3,190,000đ</h4>
                                        <div class="show_hidden">
                                            <a href="#">
                                                <i class='bx bxs-cart'>
                                                    <p class="add_cart hover_flex">
                                                        Thêm vào giỏ hàng
                                                    </p>
                                                </i>
                                            </a>
                                            <a href="#">
                                                <i class='bx bxs-add-to-queue'>
                                                    <p class="add_like hover_flex">
                                                        Thêm vào mục ưu thích
                                                    </p>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- nút prev và next -->
                        <button class="carousel-control-prev btn-menu" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next btn-menu" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>