
    <div class="my-body-section">
        <div class="row">
            <div class="col-2">
                <div class="banner_left">
                    <a href="#">
                        <img src="https://hc.com.vn/i/ecommerce/media/1991763_BANNER_DESKTOP_IMAGE_1_91630.jpg" alt="">
                    </a>
                    <a href="#">
                        <img src="https://hc.com.vn/i/hc_ecommerce//image/hotline.jpg" alt="">
                    </a>
                </div>
                <!-- Cam kết -->
                <hr>
                <div class="camket">
                    <a href="/s--hang-hoa" class="camket-link">
                    <div class="icon">
                        <img src="./image/check.png" alt="">
                    </div>
                    <div class="conten">
                        <h1>Sản phẩm</h1>
                        <p>hàng chính hãng</p>
                    </div>
                    </a>
                </div>
                <hr>
                <div class="camket">
                    <a href="/chinh-sach-van-chuyen" class="camket-link">
                    <div class="icon shippig">
                        <img src="./image/Shipping_Icon.png" alt="">
                    </div>
                    <div class="conten">
                        <h1>Vận Chuyển</h1>
                        <p>Miễn phí vận chuyển 50km</p>
                    </div>
                    </a>
                </div>
                <hr>
                <div class="camket">
                    <a href="/chinh-sach-bao-hanh" class="camket-link">
                    <div class="icon">
                        <img src="./image/Repair_Icon.png" alt="">
                    </div>
                    <div class="conten">
                        <h1>bảo hành</h1>
                        <p>Bảo hành tận nơi</p>
                    </div>
                    </a>
                </div>
                <hr>
                <div class="camket">
                    <a href="/mua-hang-tra-gop" class="camket-link">
                    <div class="icon">
                        <img src="./image/PigMoney_Icon.png" alt="">
                    </div>
                    <div class="conten">
                        <h1>Mua hàng</h1>
                        <p>hỗ trợ mua trả góp</p>
                    </div>
                    </a>
                </div>
                <hr>
                <!-- end cam kết -->
            </div>
            <div class="col">
                <div class="banner_QC">
                    <div class="banner_right">
                        <div>
                            <a href="#">
                                <img src="https://hc.com.vn/i/ecommerce/media/1989415_BANNER_DESKTOP_IMAGE_1_91887.jpg" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="./image/1992236_BANNER_DESKTOP_IMAGE_1_89765.jpg" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="https://hc.com.vn/i/ecommerce/media/1989421_BANNER_DESKTOP_IMAGE_1_91930.jpg" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="https://hc.com.vn/i/ecommerce/media/1989425_BANNER_DESKTOP_IMAGE_1_91926.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Tìm kiếm nhiều nhất -->
                <div class="spbanchay">
                    <h1>Tìm kiếm nhiều nhất</h1>
                    <hr>                    
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!-- slide 1 -->
                            <div class="carousel-item active">
                                <div class="slider">

                                </div>
                            </div>
                            <!-- Slide 2 -->
                            <div class="carousel-item">
                                <div class="slider">                              
                                    
                                </div>
                            </div>
                            <!-- slide 3 -->
                            <div class="carousel-item">
                                <div class="slider">

                                </div>
                            </div>
                        </div>
                        <!-- nút prev và next -->
                        <button class="carousel-control-prev btn-menu" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next btn-menu" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!-- end tìm kiếm nhiều nhất -->
                <!-- Banner quảng cáo -->
                <div class="QC_sanpham">
                    <div class="col-6">
                        <a href="#">
                            <img src="./image/1992236_BANNER_DESKTOP_IMAGE_1_89765.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#">
                            <img src="./image/1992261_BANNER_DESKTOP_IMAGE_1_90652.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- end banner quảng cáo -->
                <!-- sản phẩm đang hót -->
                <div class="sanphamhot">
                    <div class="row">
                        <h1>Sản phẩm đang hót</h1>
                        <hr>
                    </div>
                    <div class="sanphamhot_conten">
                        <div class="row">
                            <!-- reander sản phẩm -->                                                     
                        </div>
                        <!-- sang trang -->
                        <div class="tab-chuyentrang">
                            <ul>
                                <li class="tab-item chevron left">
                                    <i class="fas fa-chevron-left"></i>
                                </li>
                                <li class="tab-item page active">1</li>
                                <li class="tab-item page">2</li>
                                <li class="tab-item page">3</li>
                                <li class="tab-item chevron right">
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- end sang trang -->
                    </div>
                </div>
                <!-- end sản phẩm đang hót -->
            </div>
        </div>
    </div>

    <script src="./js/body_home.js"></script>
