<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head_chitiet') %>
    <title>Chi Tiết</title>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
   <div class="main-container container">
       <ul class="breadcrumb">
           <li><a id="MENU_HOME" href="/home"><i class="fa fa-home"></i></a></li>
           <i class="fas fa-angle-right"></i>
           <li><a id="MENU_DIEN-TU_BREADCRUMB" href="/dientu">Tivi, Loa, Âm thanh</a></li>
           <i class="fas fa-angle-right"></i>
           <li><a id="MENU_TIVI_BREADCRUMB" href="/tivi">Tivi</a></li>
           <i class="fas fa-angle-right"></i>
           <li><a id="MENU_SMART-TIVI_BREADCRUMB" href="/smarttv">Smart Tivi</a></li>
       </ul>
       <div class="row">
           <!--Middle Part Start-->
           <div id="content" class="col-md-12 ">
               <div class="product-view row">
                   <div class="left-content-product">
                       <div class="content-product-left class-honizol col-md-7 ">
                           <div class="column">
                               <img id=featured src="./image/chitietsp/00026922_FEATURE_47261.jpg">

                               <div id="slide-wrapper" >
                                   <img id="slideLeft" class="arrow" src="./image/chitietsp/arrow-left.png">

                                   <div id="slider">
                                       <img class="thumbnail active" src="./image/chitietsp/00026922_FEATURE_47261.jpg">
                                       <img class="thumbnail" src="./image/chitietsp/00026922_FEATURE_47262.jpg">
                                       <img class="thumbnail" src="./image/chitietsp/00026922_FEATURE_47263.jpg">
                                       <img class="thumbnail" src="./image/chitietsp/00026922_FEATURE_47264.jpg">
                                       <img class="thumbnail" src="./image/chitietsp/00026922_FEATURE_47265.jpg">
                                       <img class="thumbnail" src="./image/chitietsp/00026922_FEATURE_47266.jpg">
                                   </div>

                                   <img id="slideRight" class="arrow" src="./image/chitietsp/arrow-right.png">
                               </div>
                           </div>

                       </div>
                       <div class="content-product-right col-md-5 ">
                           <div class="title-product">
                               <h5>Smart Tivi Panasonic 49 inch TH-49ES500V</h5>
                           </div>
                           <div class="product-label form-group">
                               <div class="product_page_price price">
                                   <span class="price-new" itemprop="price">       6,990,000đ</span> </br><span class="price-old">      12,800,000đ</span><span class="price_diff">(45%)</span>
                               </div>
                               <div class="stock"><span><strong>Trạng thái:</strong></span> <span class="status-stock">Còn hàng</span></div>
                           </div>
                           <div class="product-box-desc">
                               <div class="inner-box-desc">
                                   <div class="brand"><strong>Thương hiệu:</strong> Panasonic</div>
                                   <div class="model"><strong>Model:</strong>TH-49ES500V</div>
                                   <div class="reward"><strong>Mã SP:</strong> 00026922</div>
                               </div>
                           </div>

                           <div id="product">
                               <div class="form-group box-info-product hc_cutom_box_infor">
                                   <div class="option quantity">
                                       <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;"><label>SL</label>
                                           <input id="ITEM_CART_QTY" class="form-control" type="text" name="quantity" value="1">
                                           <input type="hidden" name="product_id" value="50">
                                           <span class="input-group-addon product_quantity_down">−</span>
                                           <span class="input-group-addon product_quantity_up">+</span>
                                       </div>
                                   </div><div class="cart">
                                       <input type="button" data-toggle="tooltip" title="" value="Mua hàng" data-loading-text="Loading..." id="ADD_TO_CART_00026922" data-itemid="28722" class="btn btn-mega btn-lg" onclick="return false;" data-original-title="Thêm vào giỏ hàng">
                                   </div>
                           <!-- end box info product -->
                                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                       <i class="fas fa-map-marker-alt"></i>
                                  SIÊU THỊ CÓ HÀNG TRƯNG BÀY
                                   </button>

                                   <!-- Modal -->
                                   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                       <div class="modal-dialog" role="document">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <h5 class="modal-title" id="exampleModalLabel">SIÊU THỊ CÓ HÀNG TRƯNG BÀY</h5>
                                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                       <span aria-hidden="true">&times;</span>
                                                   </button>
                                               </div>
                                               <div class="modal-body">
                                                   <ul>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Đông Hà – Quảng Trị,
                                                                   Số 1 Phan Bội Châu, Phường 1, TP Đông Hà, Tỉnh Quảng Trị<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Đồng Hới – Quảng Bình,
                                                                   Số 50 Quang Trung, Phường Đồng Hải, Thành Phố Đồng Hới, Tỉnh Quảng Bình<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Lạng Sơn,
                                                                   Số 69 Đường Ngô Quyền, Phường Vĩnh Trại, Thành Phố Lạng Sơn, Tỉnh Lạng Sơn<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Ninh Bình,
                                                                   283 Trần Hưng Đạo, P Đông Thành, Tp Ninh Bình<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Quảng Ninh,
                                                                   Số 490, đường Nguyễn Văn Cừ, P. Hồng Hà, TP. Hạ Long, tỉnh Quảng Ninh<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Tam Trinh,
                                                                   411 đường Tam Trinh, Hoàng Mai, Hà Nội<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Thái Bình,
                                                                   Số 297 đường Lý Bôn, Phường Tiền Phong, TP Thái Bình, tỉnh Thái Bình<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Thái Thịnh,
                                                                   102 Thái Thịnh, Đống Đa, Hà Nội<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Thanh Hóa,
                                                                   Số 88, Đại Lộ Lê Lợi, KĐT mới Đông Hương, P. Đông Hương, TP Thanh Hóa, Tỉnh Thanh Hóa<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Vạn Phúc Hà Nội,
                                                                   Vạn Phúc Hà Đông Hà Nội<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Vĩnh Yên,
                                                                   TTTM Hà Tiên, Khu Đô Thị Chùa Hà Tiên, Phường Liên Bảo, TP Vĩnh Yên, Tỉnh Vĩnh Phúc<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                       <li>
                                                           <div class="hc-input-single hc_payment_item hc_payment_1">
                                                               <input type="radio" name="payment" id="diachi_1">
                                                               <label class="" for="diachi_1">HC Yên Định Thanh Hóa,
                                                                   Yên Định Thanh Hóa<span class="hc_status_1"><i></i>Còn hàng</span></label>
                                                           </div>
                                                       </li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                       </div>
                   </div>
               </div>
           </div>
               </div>

               <!-- Product Tabs -->
               <div class="producttab ">
                   <div class="tabsslider">
                       <div>
                           <!-- Tab items -->
                           <div class="tabs">
                               <div class="tab-item active">
                                   <i class="fas fa-info"></i>
                                  Mô Tả Sản Phẩm
                               </div>
                               <div class="tab-item">
                                   <i class="fas fa-cogs"></i>
                                 Thông Số
                               </div>
                               <div class="line"></div>
                           </div>

                           <!-- Tab content -->
                           <div class="tab-content">
                               <div class="tab-pane active">
                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V kích thước" src="/i/ecommerce/media/ckeditor_1831131.jpg"></p>

                                       <p>Smart <strong>tivi Panasonic 49ES500V</strong> 49 inch có những điểm đặc biệt sau:</p>

                                       <h2><strong>Thiết kế hiện đại cùng tông màu đen mạnh mẽ</strong></h2>

                                       <p>Smart tivi Panasonich TH-49ES500V 49 inch sở hữu chân đế mảnh mai nhưng không kém phần chắc chắn giúp tivi trụ vững trên nhiều dạng mặt phẳng khác nhau.</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V thiết kế" src="/i/ecommerce/media/ckeditor_2824063.jpg"></p>

                                       <h2><strong>Màn hình IPS cùng công nghệ Super Bright Panel mang đến những khung hình mượt mà, sắc sảo dù ngồi ở bất kỳ vị trí nào</strong></h2>

                                       <p>- Màn hình IPS hiển thị hình ảnh&nbsp;tivi Panasonic 49ES500V với gam màu rộng hơn. Ngoài ra màn hình IPS cùng công nghệ Super Bright Panel còn cung cấp góc nhìn lên tới 178 độ so với phương ngang, điều này có nghĩa là người dùng không nhất thiết phải ngồi trực diện vẫn có thể trải nghiệm hết chất lượng của hình ảnh.</p>

                                       <p>- Màn hình IPS có độ sáng &amp; độ tương phản đáng để tự hào của công nghệ màn hình này.</p>

                                       <p>- Các tinh thể lỏng của màn hình IPS trên tivi&nbsp;TH-49ES500V được&nbsp;sắp xếp theo phương pháp tiên tiến nên quá trình tái tạo màu sắc trở nên chính xác và trung thực hơn so với màn hình. Khi nhìn ở góc hẹp, các chi tiết trên màn hình IPS không bị biến đổi quá nhiều.</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V sử dụng màn hình IPS" src="/i/ecommerce/media/ckeditor_2824064.jpg"></p>

                                       <h2><strong>Tivi Panasonic 49ES500V với công nghệ tái tạo màu Hexa Chroma Drive cho sắc màu sống động</strong></h2>

                                       <p>- Tivi Panasonic 49 inch được trang bị độ phân giải Full HD cùng công nghệ Hexa Chroma Drive sử dụng 6 gam màu cơ bản đã được xử lý.</p>

                                       <p>- Bạn có thể chiêm ngưỡng sắc màu chân thực Nhờ công nghệ xử lý hình ảnh tiên tiến Hexa Chroma Drive - sử dụng tính năng Tái tạo 6 màu, công nghệ này quản lý màu sắc bằng cách thêm 3 màu bổ sung (CMY) vào 3 trục màu cơ bản (RGB). Hình ảnh đẹp một cách tự nhiên. TV Panasonic mang lại cho bạn và gia đình bạn một thế giới giải trí bằng hình ảnh mới.</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V với công nghệ tái tạo màu Hexa Chroma Drive " src="/i/ecommerce/media/ckeditor_2824062.jpg"></p>

                                       <h2><strong>Tivi TH-49ES500V&nbsp;sở hữu </strong>â<strong>m thanh vòm lan tỏa mạnh mẽ với công nghệ V-audio</strong></h2>

                                       <p>- V-audio trên&nbsp;<a href="https://hc.com.vn/ords/p--tivi-panasonic-th-49es500v" target="_blank"><strong>tivi Panasonic 49ES500V</strong></a>&nbsp;là một công nghệ âm thanh vòm ảo, sự kết hợp độc đáo của âm thanh từ dàn âm li kỹ thuật số có khả năng tinh lọc âm thanh và cho hiệu ứng âm vượt trội, loa chính cho ra các âm thanh sống động nhờ sự rung động của những tấm màng loa được làm từ chất dẻo.</p>

                                       <p>- Với hệ thống âm thanh vòm ảo V-audio, các âm thanh được phát ra toàn dải thành nhiều kênh riêng biệt tạo ra hiệu ứng âm thanh vòm đa kênh với âm trầm (bass) tuyệt vời và chi tiết mà chỉ nhờ vào 2 loa trang bị trên tivi Panasonic&nbsp;TH-49ES500V.</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V với công nghệ V-audio" src="/i/ecommerce/media/ckeditor_2818294.jpg"></p>

                                       <h2><strong>Smart tivi Panasonic cùng nhiều ứng dụng giải trí hấp dẫn</strong></h2>

                                       <p>Smart tivi Panasonic 49ES500V&nbsp;49 inch cùng tính năng kết nối mạng giúp bạn truy cập internet để kết nối với các ứng dụng giải trí phổ biến: Trình duyệt web, YouTube, Zing TV,...</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V với nhiều ứng dụng giải trí hấp dẫn" src="/i/ecommerce/media/ckeditor_2824071.jpg"></p>

                                       <h2><strong>Giao diện My Home Screen cho phép bạn thay đổi màn hình chủ tuỳ theo ý thích của từng thành viên trong gia đình.</strong></h2>

                                       <p>- Giao diện My Home Screen trên tivi Panasonic&nbsp;TH-49ES500V&nbsp;mang đến tính cá nhân hóa nội dung truy cập yêu thích của từng người dùng.</p>

                                       <p>- Hệ thống my Home Screen cho phép bạn thiết lập màn hình cá nhân chỉ chứa các đường dẫn tới nội dung, ứng dụng yêu thích cho riêng mình. Ngoài ra, mỗi thành viên trong gia đình đều có thể thiết lập màn hình riêng trên&nbsp;tivi Panasonic 49ES500V&nbsp;để nhanh chóng, dễ dàng truy cập các nội dung mình yêu thích</p>

                                       <p>- Các ứng dụng được hiển thị và vị trí ứng dụng có thể khác so với màn hình thực tế mà khách hàng có thể tùy chỉnh.</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V với giao diện My Home Screen" src="/i/ecommerce/media/ckeditor_2824066.jpg"></p>

                                       <h2><strong>Điều khiển tivi bằng điện thoại với ứng dụng Panasonic TV Remote</strong></h2>

                                       <p>Ứng dụng Panasonic TV Remote giúp người dùng có thể điều khiển tivi TH-49ES500V ngay trên điện thoại của mình một cách dễ dàng, nhanh chóng chỉ cần kết nối điện thoại với <a href="https://hc.com.vn/ords/c--tivi" target="_blank"><strong>Tivi</strong></a> mà không cần đến remote.</p>

                                       <h2><strong>Chiếu màn hình điện thoại lên tivi với Screen Mirroring</strong></h2>

                                       <p>Smart tivi Panasonic 49ES500V cho phép bạn chiếu màn hình điện thoại các nội dung hình ảnh, video lên màn ảnh rộng 49 inch cho cả nhà cùng thưởng thức nhờ Screen Mirroring.</p>

                                       <p>- Là tính năng kết nối thông minh giữa tivi và thiết bị di động, cho phép chia sẻ đa phương tiện nhanh chóng.</p>

                                       <p>- Công nghệ này giúp tivi hiển thị màn hình từ chiếc điện thoại của bạn mà không cần phải có một kết nối cáp nào. Bạn có thể ngồi yên và thưởng thức các đoạn phim, hình ảnh, thậm chí là âm nhạc phát qua loa tivi từ chiếc điện thoại của mình. Screen Mirroring chính là ứng dụng&nbsp;cho phép kết nối không dây giữa hai thiết bị&nbsp;tivi Panasonic 49ES500V và điện thoại thông minh chỉ cần hai thiết bị kết nối chung một mang wifi.</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V chiếu màn hình điện thoại lên màn hình" src="/i/ecommerce/media/ckeditor_2824061.jpg"></p>

                                       <h2><strong>Smart tivi Panasonic&nbsp;TH-49ES500V 49 inch&nbsp;có khả năng kết nối đa dạng với thiết bị ngoài</strong></h2>

                                       <p><a href="https://hc.com.vn/ords/g--tivi-panasonic" target="_blank"><strong>Tivi Panasonic</strong></a> Full HD được trang bị 3 cổng HDMI, 2 cổng USB &nbsp;giúp bạn kết nối tivi với laptop, đầu đĩa để tha hồ nghe nhạc, xem phim...</p>

                                       <p>Ngoài ra, tivi còn hỗ trợ truyền tải âm thanh chất lượng cao từ tivi sang dàn âm thanh với cổng Optical hoặc kết nối tivi với dàn máy, loa, đầu đĩa bằng cổng AV Component...</p>

                                       <p style="text-align:center"><img alt="tivi Panasonic 49ES500V đa dạng kết nối" src="/i/ecommerce/media/ckeditor_2824073.jpg"></p>

                                       <p>*** Sản phẩm Smart <strong>Tivi Panasonic 49ES500V</strong> 49 inch&nbsp;đang bán tại hệ thống&nbsp;<a href="https://hc.com.vn/" target="_blank"><strong>siêu thị điện máy HC</strong></a>. Mua ngay hôm nay để được hưởng nhiều ưu đãi hấp dẫn.</p>

                                   </div>
                               </div>
                               <div class="tab-pane">
                                       <div class="table-responsive">
                                           <table class="table table-hover">
                                               <thead>
                                               <tr>
                                                   <th>#</th>
                                                   <th>Thuộc tính</th>
                                                   <th>Giá trị</th>
                                               </tr>
                                               </thead>
                                               <tbody><tr><th scope="row">1</th><td>Xuất xứ</td><td>Việt Nam</td></tr><tr><th scope="row">2</th><td>Bảo hành</td><td>12 tháng</td></tr><tr><th scope="row">3</th><td>Loại Tivi</td><td>Smart Tivi</td></tr><tr><th scope="row">4</th><td>Kích thước màn hình</td><td>49"</td></tr><tr><th scope="row">5</th><td>Khoảng kích thước màn hình</td><td>Từ 44 - 54 inch</td></tr><tr><th scope="row">6</th><td>Công nghệ màn hình</td><td>LED</td></tr><tr><th scope="row">7</th><td>Độ phân giải</td><td>Full HD (1920 x 1080 Pixel)</td></tr><tr><th scope="row">8</th><td>Tivi 3D</td><td>Không</td></tr><tr><th scope="row">9</th><td>Bluetooth</td><td>Có</td></tr><tr><th scope="row">10</th><td>Cổng LAN</td><td>Có</td></tr><tr><th scope="row">11</th><td>Wifi</td><td>Có</td></tr><tr><th scope="row">12</th><td>Cổng AV</td><td>Có cổng Composite và cổng Component</td></tr><tr><th scope="row">13</th><td>Cổng HDMI</td><td>3 cổng</td></tr><tr><th scope="row">14</th><td>Cổng xuất âm thanh</td><td>Jack loa 3.5 mm</td></tr><tr><th scope="row">15</th><td>Cổng USB</td><td>2 cổng</td></tr><tr><th scope="row">16</th><td>Tích hợp đầu thu kỹ thuật số</td><td>Chuẩn DVB-T2</td></tr><tr><th scope="row">17</th><td>Hệ điều hành</td><td>My Home Screen</td></tr><tr><th scope="row">18</th><td>Công suất tiêu thụ điện</td><td>113W</td></tr><tr><th scope="row">19</th><td>Công nghệ hình ảnh</td><td>Tấm nền IPS với công nghệ Super Bright</td></tr><tr><th scope="row">20</th><td>Công nghệ âm thanh</td><td>Công nghệ âm thanh V-audio</td></tr><tr><th scope="row">21</th><td>Tổng công suất loa</td><td> 20W</td></tr><tr><th scope="row">22</th><td>Kích thước có chân, đặt bàn</td><td>Ngang 110.4 cm - Cao 70.3 cm - Dày 26.4 cm</td></tr><tr><th scope="row">23</th><td>Khối lượng có chân</td><td>11 kg</td></tr><tr><th scope="row">24</th><td>Kích thước không chân, treo tường</td><td>Ngang 110.4 cm - Cao 64 cm - Dày 7 cm</td></tr><tr><th scope="row">25</th><td>Khối lượng không chân</td><td>10 kg</td></tr><tr><th scope="row">26</th><td>Chất liệu</td><td>Viền nhựa, chân đế nhựa</td></tr><tr><th scope="row">27</th><td>Năm ra mắt</td><td>2017</td></tr></tbody>
                                           </table>
                                       </div>
                                   </div>
                               </div>
                           </div>
                   <div class="hc_box_btn-viewmore">
                       <p class="text-center" style="padding:10px"><i>Lưu ý : Hình ảnh và thông số chỉ mang tính chất tham khảo, có thể bị thay đổi từ nhà sản xuất mà không báo trước. Quý khách vui lòng kiểm tra kỹ sản phẩm trước khi nhận hàng.</i></p>
                       <span class="hc_btn-viewmore">Xem thêm</span>
                   </div>
                       </div>
               <div class="seciton-comment">
                   <div class="modtitle">
                       <span>Bình luận</span>
                   </div>
                   <div class="comment-box">
                       <p class="text-uppercase">Gửi Bình luận</p>
                       <div class="form-comment-wrap no-border-textarea">
                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="form-group">
                                       <input id="COMMENT_NAME_28722" type="text" class="form-control" placeholder="Tên của bạn">
                                   </div>
                               </div>
                               <div class="col-sm-6">
                                   <div class="form-group">
                                       <input id="COMMENT_PHONE_28722" type="number" class="form-control" placeholder="Số điện thoại">
                                   </div>
                               </div>
                           </div>
                           <div class="form-group">
                               <textarea class="form-control" name="" id="COMMENT_NOTE_28722" rows="5" placeholder=" Nhập nội dung bình luận"></textarea>
                               <button id="COM_SEND_28722" class="btn btn-send-comment" data-itemid="28722" onclick="return false" ;="">Gửi đi <i class="fa fa-paper-plane"></i></button>
                           </div>
                       </div>
                   </div>
               </div>
          </div>
       </div>
   </div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
   <script type="text/javascript">
       let thumbnails = document.getElementsByClassName('thumbnail')

       let activeImages = document.getElementsByClassName('active')

       for (var i=0; i < thumbnails.length; i++){

           thumbnails[i].addEventListener('mouseover', function(){
               console.log(activeImages)

               if (activeImages.length > 0){
                   activeImages[0].classList.remove('active')
               }


               this.classList.add('active')
               document.getElementById('featured').src = this.src
           })
       }


       let buttonRight = document.getElementById('slideRight');
       let buttonLeft = document.getElementById('slideLeft');

       buttonLeft.addEventListener('click', function(){
           document.getElementById('slider').scrollLeft -= 180
       })

       buttonRight.addEventListener('click', function(){
           document.getElementById('slider').scrollLeft += 180
       })


   </script>
           <script>
               const $ = document.querySelector.bind(document);
               const $$ = document.querySelectorAll.bind(document);

               const tabs = $$(".tab-item");
               const panes = $$(".tab-pane");

               const tabActive = $(".tab-item.active");
               const line = $(".tabs .line");

               line.style.left = tabActive.offsetLeft + "px";
               line.style.width = tabActive.offsetWidth + "px";

               tabs.forEach((tab, index) => {
                   const pane = panes[index];

                   tab.onclick = function () {
                       $(".tab-item.active").classList.remove("active");
                       $(".tab-pane.active").classList.remove("active");

                       line.style.left = this.offsetLeft + "px";
                       line.style.width = this.offsetWidth + "px";

                       this.classList.add("active");
                       pane.classList.add("active");
                   };
               });

           </script>

           <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>