<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Chi Tiết</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/chitiettd.css">
    <!-- boxicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" href="./fonts/themify-icons/themify-icons.css">
    <!-- css header -->
    <link rel="stylesheet" href="./css/ngoc_header.css">
    <link rel="stylesheet" href="./css/sub_header.css">
    <link rel="stylesheet" href="./css/ngoc_footer.css">
    <script src="https://kit.fontawesome.com/3d8d28f31f.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
    <div class="main-container container">

        <div class="row td-detail">

            <div class="col-sm-9">
                <div class="wrap-td clearfix">
                    <h2  class="title-result-find">Thông tin việc làm</h2>
                    <div class="wrap-list-cv">

                        <div class="list-cv">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="title-cv">
                                        QUẢN LÝ NGÀNH HÀNG ĐIỆN LẠNH - GIA DỤNG, ĐIỆN TỬ - ITM
                                    </h5>
                                    <h6 class="add-cv">
                                        Quản Lý Ngành Hàng
                                    </h6>

                                    <div class="wrap-pl clearfix">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="detail-info-cv row">
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                            12-15
                                                        </p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                                :</strong>  CN Sài Đồng -Long Biên -Hà Nội</p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-user"></i>
                                                            <strong>Số lượng tuyển:</strong>
                                                            2
                                                        </p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-clock-o"></i>
                                                            <strong>Thời gian nộp hồ sơ :</strong>
                                                            31/08/2021
                                                        </p>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr/>
                                    </div>
                                    <div class="info-describe">
                                        <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>
                                        <p>
                                        </p><p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:center">QUẢN LÝ NGÀNH HÀNG</p>

                                        <p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><u><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">1. Mô tả công việc</span></span></u></strong><u><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></u></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Tổ chức thực hiện công tác kinh doanh thuộc ngàn hàng mình quản lý, nhằm đảm bảo các chỉ tiêu về kinh doanh Công ty đã giao.</span></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Tổ chức thực hiện trưng bày hàng hóa , quầy kệ sạch sẽ, gọn gàng, ngăn nắp theo thiết kế chuẩn của Công ty dưới sự hướng dẫn của Bộ phận Marketing.</span></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Triển khi hướng dẫn, cung cấp thông tin cần thiết và hỗ trợ khách hàng tham gia các chương trình khuyến mại, ưu đãi của Siêu thị và hệ thống VHC.</span></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Phối hợp với các bộ phận vận hành tại sàn và các bộ phận gián tiếp để hỗ trợ tối đa cho khách hàng trong quá trình bán hàng và sau bán hàng.</span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><u><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">2. Yêu cầu :</span></span></span></u></strong><u><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></u></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Nam, tuổi từ: 25 – 45 tuổi</span></span></span></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Trình độ học vấn: Tốt nghiệp trung cấp trở lên chuyên ngành kinh tế</span><strong><em><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></em></strong></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có kinh nghiệm bán hàng và quản lý nhóm từ 10 người trở lên tối thiểu 02 năm.</span></span></span></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Ưu tiên ứng viên Có kinh nghiệm làm việc trong lĩnh vực điện máy.</span></span></span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><u><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">3. Quyền lợi của ứng viên:</span></span></u></strong><u><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></u></span></span></span></p>

                                        <ul style="list-style-type:disc; margin-bottom:0cm" type="disc">
                                            <li style="margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thu nhập : Lương thỏa thuận</span></span></span></li>
                                            <li style="margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thưởng quý, năm, model, lễ tết, tháng lương thứ 13, 14...</span></span></span></li>
                                            <li style="margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có cơ hội học tập, phát triển và thăng tiến.</span></span></span></li>
                                            <li style="margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</span></span></span></li>
                                            <li style="margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước, các chính sách phúc lợi riêng của Công ty: Hiếu hỉ, sinh nhật , khám sức khỏe, thưởng các loại, du lịch trong và ngoài nước, đào tạo với các chuyên gia hàng đầu…</span></span></span></li>
                                        </ul>

                                        <p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Làm việc tại:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                        <ul style="list-style-type:disc; margin-bottom:0cm" type="disc">
                                            <li style="margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"> CN Sài Đồng -Long Biên -Hà Nội</span></span></strong></li>
                                        </ul>

                                        <p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><u><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">4. Hồ sơ yêu cầu:</span></span></u></strong><u><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></u></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thông tin cá nhân ghi rõ vị trí xin ứng tuyển , quá trình học tập, công tác, kinh nghiệm và năng lực bản thân.</span></span></span></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Bản phô tô các văn bằng, chứng chỉ liên quan. </span></span></span></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><u><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></u></strong></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><u><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">5. Địa điểm nộp hồ sơ:</span></span></span></u></strong></span></span></span></p>

                                        <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:10.0pt"><span style="font-family:Symbol">· </span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Nộp hồ sơ tại Phòng HCNS các CN. Hoặc nộp hồ sơ bản mềm qua địa chỉ email: </span></span><a href="mailto:tuyendung@hc.com.vn"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:blue">tuyendung@hc.com.vn</span></span></span></a><u> </u> </span></span></p>

                                        <ul style="list-style-type:disc; margin-bottom:0cm" type="disc">
                                            <li style="margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Vui lòng ghi rõ vị trí ứng tuyển trên tiêu đề thư</span></span></li>
                                            <li style="text-align:justify; margin:0cm 0cm 10pt; line-height:115%; font-size:11pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Điện thoại : 0904 812269 gặp Anh Đại</span></span></li>
                                        </ul>


                                        <p></p>

                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
<%-include("modal_form_login")%>
</body>
</html>