<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tuyendung")%>
    <title>Thông Tin Tuyển Dụng</title>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
<div class="main-container container">
    <div class="row td-detail">
        <div class="col-sm-9">
            <div class="wrap-td clearfix">
                <h2 class="title-result-find">Thông tin việc làm</h2>
                <div class="wrap-list-cv">

                    <div class="list-cv">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="title-cv">
                                    CHUYÊN VIÊN MARKETING
                                </h5>
                                <h6 class="add-cv">
                                    MARKETING
                                </h6>

                                <div class="wrap-pl clearfix">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="detail-info-cv row">
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                        10-15TR
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                            :</strong> 399 Phạm Văn Đồng, Bắc từ Liêm, Hà Nội</p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-user"></i>
                                                        <strong>Số lượng tuyển:</strong>
                                                        1
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-clock-o"></i>
                                                        <strong>Thời gian nộp hồ sơ :</strong>
                                                        06/04/2021
                                                    </p>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                <div class="info-describe">
                                    <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>
                                    <p>
                                    </p><p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><u><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Mô tả công việc</span></u></strong></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">Đề xuất các quy chuẩn trưng bày tại sàn: VD: vị trí tem giá tại sàn, quy tắc trưng bày sản phẩm trên kệ,…</span></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">Tổng hợp nhu cầu trang trí của chi nhánh </span></span><span style="font-size:11.0pt"><span style="line-height:115%">&amp;</span></span> <span style="font-size:11.0pt"><span style="line-height:115%">đề </span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">xuất các hạng mục trang trí theo từng giai đoạn, chương trình khuyến mại của HC và của hãng</span></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span style="font-size:11.0pt"><span style="line-height:115%">Làm việc với thiết kế &amp; t</span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">rình duyệt marquet và chuyển links file in cho các chi nhánh triển khai.</span></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">Kiểm soát quá trình triển khai của các chi nhánh: hạng mục, số lượng, chất lượng, tiến độ</span></span><span style="font-size:11.0pt"><span style="line-height:115%"> &amp; h</span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">oàn thiện giấy tờ cho các hồ sơ liên quan tới đề xuất trang trí, đối soát và thanh quyết toán.</span></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="EN-GB" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span style="font-size:11.0pt"><span style="line-height:115%">Đảm bảo tính đồng bộ hình ảnh trong việc triển khai trang trí theo chương trình KM của HC và của hãng </span></span><span lang="EN-GB" style="font-size:11.0pt"><span style="line-height:115%"></span></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">Thực hiện và duy trì chế độ tổng hợp, báo cáo theo quy định của Công ty.</span></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">Phối hợp tác nghiệp với các Phòng ban có liên quan trong việc triển khai hoạt động chung của Công ty.</span></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">- </span></span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">Thực hiện các nhiệm vụ khác theo phân công và uỷ quyền của cấp trên.</span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><u><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Yêu cầu: </span></u></strong></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">1./</span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Học vấn và kinh nghiệm<br>
- Tốt nghiệp Đại học chuyên ngành marketing.</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Sử dụng thành thạo Microsoft Office. Ưu tiên ứng viên biết sử dụng Photoshop, Auto CAD </span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Ưu tiên ứng viên đã có kinh nghiệm trong lĩnh vực xúc tiến bán tại sàn.<br>
2/ Kỹ năng cá nhân<br>
- Có kỹ năng tốt về công tác sắp xếp tổ chức triển khai công việc.</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Có khả năng tư duy hình ảnh, sáng tạo, chủ động trong công việc.</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Có hiểu biết về các hạng mục trang trí, các vật liệu trang trí.</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Có khả năng giao tiếp tốt, ưu tiên ứng viên thành thạo tiếng Anh</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Có thể đi công tác tỉnh.<br>
3/ Tính cách<br>
- Trung thực, thật thà.<br>
- Dễ thích nghi, hòa nhập với môi trường mới.<br>
- Nhiệt tình, có trách nhiệm cao trong công việc.<br>
- Tác phong làm việc năng động chuyên nghiệp.<br>
- Có định hướng làm việc lâu dài, gắn bó và ổn định với công ty</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">4./Giới tính – độ tuổi: Nam, từ 25- 40 tuổi.</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong>Quyền lợi của ứng viên:</strong></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Thu nhập từ 9tr trở lên.<br>
- Có cơ hội học tập, phát triển và thăng tiến.<br>
- Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</span></span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Được hưởng các chính sách phúc lợi riêng của Công ty: thưởng các loại, khám sức khỏe, nghỉ mát…<br>
- Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước.</span></span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong>Làm việc tại:</strong><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></p>

                                    <p class="bullettable" style="margin-bottom:0.0001pt; margin-left:22.7pt; margin-right:0in; margin-top:3pt"><span style="font-size:10pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="line-height:115%">Trụ sở chính </span></span><span lang="X-NONE" style="font-size:11.0pt"><span style="line-height:115%">Siêu thị Điện máy HC 399 Phạm Văn Đồng, Xuân Đỉnh, Hà Nội</span></span></span></span></span></p>


                                    <p></p>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
<%-include("modal_form_login")%>
</body>
</html>