<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tuyendung")%>
    <title>Thông Tin Tuyển Dụng</title>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
<div class="main-container container">

    <div class="row td-detail">

        <div class="col-sm-9">
            <div class="wrap-td clearfix">
                <h2 class="title-result-find">Thông tin việc làm</h2>
                <div class="wrap-list-cv">

                    <div class="list-cv">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="title-cv">
                                    GIÁM ĐỐC CHI NHÁNH SÀI ĐỒNG - LONG BIÊN
                                </h5>
                                <h6 class="add-cv">
                                    Giám Đốc chi nhánh
                                </h6>

                                <div class="wrap-pl clearfix">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="detail-info-cv row">
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                        Thảo Thuận
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                            :</strong> 765A Nguyễn Văn Linh - Sài Đồng - Long Biên - Hà Nội</p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-user"></i>
                                                        <strong>Số lượng tuyển:</strong>
                                                        1
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-clock-o"></i>
                                                        <strong>Thời gian nộp hồ sơ :</strong>
                                                        31/08/2021
                                                    </p>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                <div class="info-describe">
                                    <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>
                                    <p>
                                    </p><p align="center"><strong>GIÁM ĐỐC CHI NHÁNH SÀI ĐỒNG - LONG BIÊN</strong></p>

                                    <p>&nbsp;</p>

                                    <ol>
                                        <li><strong><u>Trách nhiệm:</u></strong><strong> </strong></li>
                                    </ol>

                                    <p>- Lập, triển khai kế hoạch và chịu trách nhiệm về doanh số của chi nhánh.</p>

                                    <p>- Đảm bảo các chỉ tiêu về doanh thu, thị phần và các chỉ tiêu phát triển khác do Công ty giao được hoàn thành tối đa.</p>

                                    <p>- Xây dựng, phát triển đội ngũ nhân sự và tổ chức, quản lý toàn bộ hàng hóa, tài sản của chi nhánh.</p>

                                    <p>- Quản trị nhân sự</p>

                                    <p>- Giám sát , điều hành hoạt động của tất cả các bộ phận</p>

                                    <p>- Các tình huống phát sinh theo yêu cầu.</p>

                                    <ol start="2">
                                        <li><strong><u>Yêu cầu:</u></strong><strong> </strong></li>
                                    </ol>

                                    <p>- Giới tính: Nam/ Nữ. Tuổi: Trên 30</p>

                                    <p>- Tốt nghiệp Đại học các chuyên ngành kinh tế. Có ít nhất 03 năm kinh nghiệm làm kinh doanh trực tiếp, 02 năm kinh nghiệm quản lý tại các vị trí Trưởng phòng/Giám đốc kinh doanh hoặc tương đương.</p>

                                    <p>- Kiến thức chuyên sâu về quản lý kinh doanh.</p>

                                    <p>- Kiến thức tổng quan quản trị nhân sự</p>

                                    <p>- Ưu tiên các ứng viên có kinh nghiệm trong ngành điện máy và điều hành mảng bán lẻ.</p>

                                    <p>- Chững trạc, trung thực, thông minh, nhanh nhạy, giao tiếp tốt, nhiệt tình, quyết đoán, công tâm.</p>

                                    <p>- Khả năng quản lý, lãnh đạo</p>

                                    <p>- Khả năng giao tiếp</p>

                                    <p>- Khả năng lập kế hoạch</p>

                                    <p>- Khả năng hoạch định</p>

                                    <p>- Thành thạo các phần mềm office, net…</p>

                                    <ol start="3">
                                        <li><strong><u>Quyền lợi của ứng viên:</u></strong></li>
                                    </ol>

                                    <ul style="list-style-type:disc" type="disc">
                                        <li>Lương thỏa thuận</li>
                                        <li>Có cơ hội học tập, phát triển và thăng tiến.</li>
                                        <li>Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</li>
                                        <li>Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước và các chính sách phúc lợi khác của Công ty: du lịch trong và ngoài nước, học tập với các chuyên gia hàng đầu, khám sức khỏe, xe ô tô công tác, hiểu hỉ, sinh nhật,..</li>
                                    </ul>

                                    <ol start="4">
                                        <li><strong><u>Làm việc tại:</u></strong></li>
                                    </ol>

                                    <ul style="list-style-type:disc" type="disc">
                                        <li><strong>Siêu thị Điện máy HC chi nhánh Sài Đồng - Long Biên 765A Nguyễn Văn Linh - Sài Đồng - Long Biên - Hà Nội</strong></li>
                                    </ul>

                                    <ol start="5">
                                        <li><strong><u>Hồ sơ yêu cầu:</u></strong></li>
                                    </ol>

                                    <ul style="list-style-type:disc" type="disc">
                                        <li>Thông tin cá nhân ghi rõ vị trí xin ứng tuyển, quá trình học tập, công tác, kinh nghiệm và năng lực bản thân.</li>
                                        <li>Bản phô tô các văn bằng, chứng chỉ liên quan.</li>
                                    </ul>

                                    <ol start="6">
                                        <li><strong><u>Địa điểm nộp hồ sơ:</u></strong></li>
                                    </ol>

                                    <p>· Hoặc nộp hồ sơ bản mềm qua địa chỉ email: <a href="mailto:tuyendung@hc.com.vn">tuyendung@hc.com.vn</a> – Vui lòng ghi rõ vị trí ứng tuyển trên tiêu đề thư.</p>

                                    <ul style="list-style-type:disc" type="disc">
                                        <li>Điện thoại : 0904.812.269 gặp Mr Đại.</li>
                                    </ul>


                                    <p></p>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
<%-include("modal_form_login")%>
</body>
</html>