<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Chi Tiết</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/chitiettd.css">
    <!-- boxicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" href="./fonts/themify-icons/themify-icons.css">
    <!-- css header -->
    <link rel="stylesheet" href="./css/ngoc_header.css">
    <link rel="stylesheet" href="./css/sub_header.css">
    <link rel="stylesheet" href="./css/ngoc_footer.css">
    <script src="https://kit.fontawesome.com/3d8d28f31f.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
    <div class="main-container container">
        <div class="row td-detail">
            <div class="col-sm-9">
                <div class="wrap-td clearfix">
                    <h2 class="title-result-find">Thông tin việc làm</h2>
                    <div class="wrap-list-cv">

                        <div class="list-cv">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="title-cv">
                                        SALES ADMIN
                                    </h5>
                                    <h6 class="add-cv">
                                        ADMIN
                                    </h6>

                                    <div class="wrap-pl clearfix">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="detail-info-cv row">
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                            7-9TR
                                                        </p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                                :</strong> Làm việc tại: trụ sở chính VHC Corporation Tower, 399 Phạm Văn Đồng, Xuân Đỉnh, Hà Nội</p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-user"></i>
                                                            <strong>Số lượng tuyển:</strong>
                                                            2
                                                        </p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-clock-o"></i>
                                                            <strong>Thời gian nộp hồ sơ :</strong>
                                                            30/07/2021
                                                        </p>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr/>
                                    </div>
                                    <div class="info-describe">
                                        <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>
                                        <p>
                                        </p><p align="center" style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:18.0pt">ADMIN AV</span></strong></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></strong></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><u><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">1. Mô tả công việc:</span></u></strong></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Hoàn thiện hồ sơ chứng từ các chương trình hỗ trợ của Hãng như trả góp 0%, Combo TV &amp; soundbar, chứng từ các chương trình MKT của ngành điện tử.</span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Thực hiện lên lệnh hệ thống các đơn hàng bán nội bộ, điều chuyển nội bộ giữa các chi nhánh.</span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Kích hoạt bảo hành cho khách hàng của HC lên hệ thống của các hãng.</span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Chạy lại và xây dựng một số chương trình chiết khấu lên hệ thống, Tổng kết theo dõi hỗ trợ chiết khấu của Nhà cung cấp.</span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Đặt hàng lên hệ thống của các hãng khi phát sinh đơn hàng.</span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Thực hiện tạo mã sản phẩm, mã nhóm nhãn lên hệ thống.</span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Trình ký các văn bản thỏa thuận, hợp đồng phát sinh của ban.</span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span>Thực hiện tổng hợp báo cáo phân tích KD của ngành hàng.</span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><u><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">2. Yêu cầu </span></u></strong></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Nữ, tốt nghiệp trung cấp trở lên.</span></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Sử dụng thành thạo excel.</span></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Chịu được áp lực công việc cao.</span></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Trung thực, cẩn thận, tỉ mỉ trong công việc.</span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><u><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">3. Quyền lợi của ứng viên:</span></u></strong><strong><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></strong></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thu nhập từ 7tr trở lên.</span></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có cơ hội học tập, phát triển và thăng tiến</span></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</span></span></span></span></p>

                                        <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước và các chế độ phúc lợi riêng của Công ty: hiếu hỉ, sinh nhật, đào tạo với các chuyên gia hàng đầu, du lịch trong và ngoài nước, khám sức khỏe…</span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Làm việc tại: trụ sở chính VHC Corporation Tower, 399 Phạm Văn Đồng, Xuân Đỉnh, Hà Nội</span></strong></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><u><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">4. Hồ sơ yêu cầu:</span></u></strong><strong><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></strong></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- CV ghi rõ vị trí xin ứng tuyển, địa điểm làm việc, quá trình học tập, công tác, kinh nghiệm và năng lực bản thân</span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Bản phô tô các văn bằng, chứng chỉ liên quan. </span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">5.</span></strong><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"> <strong><u>Địa điểm nộp hồ sơ:</u> </strong></span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Tầng 1 sảnh văn phòng, Siêu thị điện máy HC, 399 Phạm Văn Đồng, Xuân Đỉnh, Hà Nội </span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- Hoặc nộp hồ sơ bản mềm qua địa chỉ email: </span><a href="mailto:tuyendung@hc.com.vn" style="color:blue; text-decoration:underline"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:blue">tuyendung@hc.com.vn</span></span></a><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"> – Vui lòng ghi rõ vị trí ứng tuyển trên tiêu đề thư</span></span></span></span></p>

                                        <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:12pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Người liên hệ; Mr. Đại : 0904.812.269</span></span></span></span></p>


                                        <p></p>

                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
<%-include("modal_form_login")%>
</body>
</html>