<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tuyendung")%>
    <title>Thông Tin Tuyển Dụng</title>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
<div class="main-container container">

        <div class="col-sm-9">
            <div class="wrap-td clearfix">
                <h2 class="title-result-find">Thông tin việc làm</h2>
                <div class="wrap-list-cv">

                    <div class="list-cv">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="title-cv">
                                    TUYỂN DỤNG KỸ THUẬT GIAO LẮP TẠI HÀ NỘI
                                </h5>
                                <h6 class="add-cv">
                                    Kỹ Thuật Lắp Đặt
                                </h6>

                                <div class="wrap-pl clearfix">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="detail-info-cv row">
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                        7-12 triệu
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                            :</strong> Siêu thị Điện máy HC 63 Vạn Phúc, Hà Đông;&nbsp; Siêu thị Điện máy HC 102 Thái thịnh, Đống Đa</p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-user"></i>
                                                        <strong>Số lượng tuyển:</strong>
                                                        9
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-clock-o"></i>
                                                        <strong>Thời gian nộp hồ sơ :</strong>
                                                        31/05/2021
                                                    </p>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                <div class="info-describe">
                                    <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>
                                    <p>
                                    </p><p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">1. Mô tả công việc</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thực hiện công việc vận chuyển hàng hóa từ kho của công ty tới nhà khách hàng.</span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thực hiện công việc lắp đặt, bảo hành hàng hóa cho khách hàng.</span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thực hiện việc thu công nợ đối với các đơn hàng giao.</span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-family:Calibri,sans-serif"><span style="font-family:Symbol">· </span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thực hiện các công việc phát sinh khác khi có sự phân công của quản lý.</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">2. Yêu cầu :</span></span></span></strong><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Nam, tuổi từ: 18 – 45 tuổi<strong><i></i></strong></span></span></span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Khỏe mạnh, chịu khó, trung thực, mong muốn làm việc nghiêm túc..</span></span></span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Ưu tiên ứng viên Có kinh nghiệm lắp đặt điện tử, điện lạnh hoặc giao hàng điện máy.</span></span></span></span></span></span></p>

                                    <p class="MsoNoSpacing" style="margin-bottom:0.0001pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:Symbol">· </span></span></span><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có xe máy.</span></span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">3. Quyền lợi của ứng viên:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thu nhập từ 7,000,000đ trở lên</span></span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thưởng quý, năm..</span></span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có cơ hội học tập, phát triển và thăng tiến.</span></span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="line-height:115%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</span></span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước, các chính sách phúc lợi khác của Công ty: hiếu hỉ, sinh nhật, thai sản, nghỉ mát trong và ngoài nước, đào tạo với các chuyên gia hàng đầu.</span></span></li>
                                    </ul>

                                    <ol start="4">
                                        <li style="margin:0in 0in 0.0001pt 0.5in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"></span></strong><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Làm việc tại:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></li>
                                    </ol>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="text-align:justify; margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Siêu thị Điện máy HC 63 Vạn Phúc, Hà Đông&nbsp;</span></span></strong></li>
                                        <li style="text-align: justify; margin: 0in 0in 10pt; line-height: 115%;"><strong><span style="font-family:&quot;Times New Roman&quot;,serif; font-size:12pt">Siêu thị Điện máy HC </span><span style="color:#050505; font-family:Segoe UI Historic, sans-serif"><span style="font-size:15.3333px">102 Thái thịnh, Đống Đa</span></span></strong></li>
                                    </ul>

                                    <ol start="5">
                                        <li style="text-align:justify; margin:0in 0in 0.0001pt 0.5in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"></span></strong><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Hồ sơ yêu cầu:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></li>
                                    </ol>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="text-align:justify; margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thông tin cá nhân ghi rõ vị trí xin ứng tuyển, quá trình học tập, công tác, kinh nghiệm và năng lực bản thân.</span></span></li>
                                        <li style="text-align:justify; margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Bản phô tô các văn bằng, chứng chỉ liên quan. </span></span></li>
                                    </ul>

                                    <ol start="6">
                                        <li style="text-align:justify; margin:0in 0in 0.0001pt 0.5in"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"></span></strong><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Địa điểm nộp hồ sơ:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></li>
                                    </ol>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="text-align:justify; margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Nộp hồ sơ tại chi nhánh ứng tuyển hoặc nộp hồ sơ bản mềm qua địa chỉ email: </span></span><a href="mailto:tuyendung@hc.com.vn" style="color:blue; text-decoration:underline"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:blue">tuyendung@hc.com.vn</span></span></span></a><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"> – Vui lòng ghi rõ vị trí ứng tuyển trên tiêu đề thư. </span></span></li>
                                        <li style="text-align:justify; margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Điện thoại : 0904.812.269 gặp anh Đại</span></span><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></li>
                                    </ul>


                                    <p></p>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
</body>
</html>