<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-container container">
    <div class="row td-detail">
        <div class="col-sm-9">
            <div class="wrap-td clearfix">
                <h2 class="title-result-find">Thông tin việc làm</h2>
                <div class="wrap-list-cv">

                    <div class="list-cv">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="title-cv">
                                    TUYỂN DỤNG NHÂN VIÊN KHO TẠI HÀ NỘI
                                </h5>
                                <h6 class="add-cv">
                                    Nhân Viên Kho
                                </h6>

                                <div class="wrap-pl clearfix">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="detail-info-cv row">
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                        6-10 triệu
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                            :</strong> •	Siêu thị Điện máy HC 63 Vạn Phúc, Hà Đông  – Hà Nội •	Siêu thị Điện máy HC 399 Phạm Văn Đồng •	Siêu thị Điện máy HC 102 Thái Thịnh</p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-user"></i>
                                                        <strong>Số lượng tuyển:</strong>
                                                        9
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-clock-o"></i>
                                                        <strong>Thời gian nộp hồ sơ :</strong>
                                                        31/05/2021
                                                    </p>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="info-describe">
                                    <h2>MÔ TẢ CÔNG VIỆC</h2>
                                    <p>
                                    </p><p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Mô tả công việc</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thực hiện việc xuất - nhập kho và sắp xếp, bảo quản hàng hóa trong kho</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Kiểm tra số lượng và chất lượng hàng hóa khi nhập kho</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Dán mã vạch, sắp xếp hàng hóa trong kho theo chủng loại và thời gian nhập kho</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Kiểm tra chất lượng hàng hóa khi xuất kho và làm thủ tục xuất kho</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Các công việc khác theo sự phân công của Trưởng bộ phận.</span></span></li>
                                    </ul>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Yêu cầu khác:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Nam, tuổi từ 18 – 45. Tốt nghiệp PTTH trở lên.</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có kinh nghiệm ở vị trí tương đương là một lợi thế</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Trung thực, nhanh nhẹn và có tinh thần trách nhiệm</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có sức khỏe tốt và có thể làm việc theo ca</span></span></li>
                                    </ul>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Quyền lợi của ứng viên:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thu nhập từ 5tr trở lên</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Có cơ hội học tập, phát triển và thăng tiến.</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước, </span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">và các chế độ phúc lợi khác như thưởng lễ, tết, sinh nhật, lương tháng 13.</span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">.</span></span></li>
                                    </ul>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Làm việc tại:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <ul style="list-style-type:disc; margin-bottom:0in" type="disc">
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Siêu thị Điện máy HC 63 Vạn Phúc, Hà Đông&nbsp;- Hà Nội</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.0pt"><span style="font-family:Symbol">&nbsp;</span></span><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Siêu thị Điện máy HC 102 Thái Thịnh, Đống Đa, Hà Nội</span></span></strong></span></span></span></li>
                                        <li style="margin:0in 0in 10pt; line-height:115%; font-size:11pt; font-family:Calibri, sans-serif"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Siêu thị Điện máy HC 399 Phạm Văn Đồng, Bắc Từ Liêm, Hà Nội</span></span></strong></span></span></span></li>
                                    </ul>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Hồ sơ yêu cầu:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Thông tin cá nhân ghi rõ vị trí xin ứng tuyển, quá trình học tập, công tác, kinh nghiệm và năng lực bản thân.</span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Bản phô tô các văn bằng, chứng chỉ liên quan. </span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Địa điểm nộp hồ sơ:</span></span></strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Nộp hồ sơ trực tiếp tại chi nhánh ứng tuyển</span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span></span></span><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Hoặc nộp hồ sơ bản mềm qua địa chỉ email: </span></span></span><a href="mailto:tuyendung@hc.com.vn" style="color:blue; text-decoration:underline"><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">tuyendung@hc.com.vn</span></span></span></a><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"> – Vui lòng ghi rõ vị trí ứng tuyển trên tiêu đề thư. </span></span></span><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">- </span></span></span><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Điện thoại : 0904812269 gặp chị Trang</span></span></span><span style="font-size:12.0pt"><span style="line-height:150%"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></span></span></span></span></p>


                                    <p></p>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>