<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Chi Tiết</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/chitiettd.css">
    <!-- boxicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" href="./fonts/themify-icons/themify-icons.css">
    <!-- css header -->
    <link rel="stylesheet" href="./css/ngoc_header.css">
    <link rel="stylesheet" href="./css/sub_header.css">
    <link rel="stylesheet" href="./css/ngoc_footer.css">
    <script src="https://kit.fontawesome.com/3d8d28f31f.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
    <div class="main-container container">
        <div class="row td-detail">
            <div class="col-sm-9">
                <div class="wrap-td clearfix">
                    <h2 class="title-result-find">Thông tin việc làm</h2>
                    <div class="wrap-list-cv">

                        <div class="list-cv">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="title-cv">
                                        NHÂN VIÊN BÁN HÀNG ONLINE
                                    </h5>
                                    <h6 class="add-cv">
                                        Bán hàng Online
                                    </h6>

                                    <div class="wrap-pl clearfix">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="detail-info-cv row">
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                            8-15tr
                                                        </p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                                :</strong> Siêu thị điện máy HC, 399 Phạm Văn Đồng, Xuân Đỉnh, Bắc Từ Liêm, Hà Nội</p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-user"></i>
                                                            <strong>Số lượng tuyển:</strong>
                                                            4
                                                        </p>

                                                    </div>
                                                    <div class="info-cv col-sm-6">
                                                        <p><i class="fa fa-clock-o"></i>
                                                            <strong>Thời gian nộp hồ sơ :</strong>
                                                            31/05/2021
                                                        </p>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr/>
                                    </div>
                                    <div class="info-describe">
                                        <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>
                                        <p>
                                        </p><ol>
                                            <li style="margin:0in 0in 10pt 0.5in"><span style="font-size:11pt"><span style="background-color:white"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"></span></span></strong><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><span style="color:black"></span></span></span></strong></span></span></span></span>
                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>&nbsp;Mô tả công việc:</strong></span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Tư vấn bán hàng các sản phẩm điện máy qua điện thoại, các công cụ chat: zalo, facebook…</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Tiếp nhận xử lý đơn hàng qua Website</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Theo dõi đơn hàng, đảm bảo thời gian giao hàng đúng quy định.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Chăm sóc hỗ trợ khách hàng trong quá trình bán hàng và sau bán.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Hướng dẫn, cung cấp thông tin cần thiết và hỗ trợ khách hàng tham gia các chương trình khuyến mãi, ưu đại tại Siêu Thị Điện Máy HC</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Thực hiện công việc theo sự phân công của quản lý và đảm bảo đúng chương trình bán hàng, chính sách dành cho khách hàng.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>2. Yêu cầu</strong></span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Nam, nữ tốt nghiệp cao đẳng trở lên </span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Sử dụng thành thạo word, excel.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Chịu được áp lực công việc cao.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Kỹ năng làm việc độc lập và làm việc theo nhóm.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Giao tiếp tốt, giọng nói dễ nghe, không bị ngọng hay lắp.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Nhanh nhẹn, tự tin, năng động.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Ưu tiên ứng viên có kinh nghiệm bán hàng điện máy.</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Có thể tăng ca theo yêu cầu công việc</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>3. Quyền lợi của ứng viên:</strong></span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Thu nhập từ 6 triệu trở lên </span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Có cơ hội học tập, phát triển và thăng tiến</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước và các chế độ phúc lợi riêng của Công ty: hiếu hỉ, sinh nhật, đào tạo với các chuyên gia hàng đầu, khám sức khỏe…</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Làm việc tại : trụ sở chính VHC Corporation Tower, 399 Phạm Văn Đồng, Xuân Đỉnh, Hà Nội</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- Thời gian làm việc : 8h30 -17h30 ( nghỉ thứ 7 hoặc CN)</span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><strong>4. Hồ sơ yêu cầu:</strong></span></span></h2>

                                                <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">- CV ghi rõ vị trí xin ứng tuyển, địa điểm làm việc, quá trình học tập, công tác, kinh nghiệm và năng lực bản thân</span></span></h2>
                                            </li>
                                        </ol>

                                        <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="background-color:white"><span style="line-height:115%"><span style="color:black"></span></span></span></span></span></h2>

                                        <h2 style="font-style:italic"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="background-color:white"><span style="line-height:115%"><span style="color:black">· </span><span style="color:black">Làm việc tại: <strong>Trụ sở chính, VHC Corporation Tower, 399 Phạm Văn Đồng, Hà Nội</strong></span></span></span></span></span></h2>


                                        <p></p>

                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
<%-include("modal_form_login")%>
</body>
</html>