<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tuyendung")%>
    <title>Thông Tin Tuyển Dụng</title>
</head>
<body>
<header class="header">
    <%-include("ngoc_header")%>
</header>
<section>
<div class="main-container container">
    <div class="row td-detail">
        <div class="col-sm-9">
            <div class="wrap-td clearfix">
                <h2 class="title-result-find">Thông tin việc làm</h2>
                <div class="wrap-list-cv">

                    <div class="list-cv">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="title-cv">
                                    TRƯỞNG PHÒNG KHO VẬN TẠI HÀ NỘI
                                </h5>
                                <h6 class="add-cv">
                                    Trưởng Phòng
                                </h6>

                                <div class="wrap-pl clearfix">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="detail-info-cv row">
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                        Thỏa thuận
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                            :</strong> 399 Phạm Văn Đồng, Xuân Đỉnh, Bắc Từ Liêm, HN - 63 Vạn Phúc, Hà Đông, Hà Nội</p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-user"></i>
                                                        <strong>Số lượng tuyển:</strong>
                                                        1
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-clock-o"></i>
                                                        <strong>Thời gian nộp hồ sơ :</strong>
                                                        30/04/2021
                                                    </p>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                <div class="info-describe">
                                    <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>
                                    <p>
                                    </p><p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><u><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Trách nhiệm:</span></u></strong></span></span></span></p>

                                    <h2 style="margin-left:0in; margin-right:0in"><span style="font-size:11.0pt"><span style="line-height:150%"><span style="font-weight:normal">- Quản lý hàng hóa, chứng từ: nhập, xuất, thẻ kho, khiếu nại..<br>
- Thiết lập các qui trình liên quan đến việc quản lý, kiểm soát hàng hóa xuất, nhập, tồn<br>
- Quản lý tồn kho: Tồn kho tối thiểu; Tồn kho tối đa; hàng chậm luân chuyển; hàng nhanh luân chuyển<br>
- Xây dựng, kiểm soát chặt chẽ hệ thống chứng từ<br>
- Kiểm kho định kỳ và lập báo cáo hàng tuần hàng tháng cho Ban Lãnh Đạo.</span></span></span></h2>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><strong><u><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Yêu cầu:</span></u></strong></span></span></span></p>

                                    <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Hiểu biết rõ về các luật, lao động, bảo hiểm, dân sự….</span></span></span></span></p>

                                    <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Có kỹ năng phân tích, tổng hợp và báo cáo..</span></span></span></span></p>

                                    <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Kỹ năng thuyết trình và đàm phán tốt</span></span></span></span></p>

                                    <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Có khả năng nhận đinh và đánh giá chất lương nhân sự</span></span></span></span></p>

                                    <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Thành thạo các nghiệp vụ văn phòng</span></span></span></span></p>

                                    <p style="margin-bottom:0.0001pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Ưu tiên nam giới</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0.5in; margin-right:0in; margin-top:0in"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">- </span><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Các yêu cầu khác sẽ trao đổi khi phỏng vấn</span></span></span></span></p>

                                    <p style="margin-bottom:10pt; margin-left:0in; margin-right:0in; margin-top:0in; text-align:justify"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif"><u><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"></span></u></span></span></span></p>

                                    <p><span style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Quyền lợi của ứng viên:<br>
- Thu nhập theo thoả thuận phù hợp với năng lực.<br>
- Có cơ hội học tập, phát triển và thăng tiến.<br>
- Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp<br>
- Được hưởng các chế độ BHYT, BHXH theo quy định của nhà nước.</span></span></span></p>


                                    <p></p>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<footer class="footer">
    <%-include("ngoc_footer")-%>
</footer>
<%-include("modal_form_login")%>
</body>
</html>