<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tuyendung")%>
    <title>Thông Tin Tuyển Dụng</title>
</head>
<body>
<div class="main-container container">
    <div class="row td-detail">
        <div class="col-sm-9">
            <div class="wrap-td clearfix">
                <h2 class="title-result-find">Thông tin việc làm</h2>
                <div class="wrap-list-cv">

                    <div class="list-cv">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="title-cv">
                                    CHUYÊN VIÊN MARKETING GOOGLE
                                </h5>
                                <h6 class="add-cv">
                                    Quảng Cáo Google
                                </h6>

                                <div class="wrap-pl clearfix">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="detail-info-cv row">
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                                        10-15tr
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                                            :</strong> 399 Phạm Văn Đồng, Cổ Nhuế, Bắc Từ Liêm, Hà Nội</p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-user"></i>
                                                        <strong>Số lượng tuyển:</strong>
                                                        2
                                                    </p>

                                                </div>
                                                <div class="info-cv col-sm-6">
                                                    <p><i class="fa fa-clock-o"></i>
                                                        <strong>Thời gian nộp hồ sơ :</strong>
                                                        29/04/2021
                                                    </p>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                                <div class="info-describe">
                                    <h2 align="center">MÔ TẢ CÔNG VIỆC</h2>

                                    <p><strong>1. MÔ TẢ CÔNG VIỆC</strong></p>

                                    <p>-&nbsp;Lên kế hoạch và triển khai các chiến dịch quảng cáo</p>

                                    <p>-&nbsp;Có kinh nghiệm triển khai các kênh quảng cáo Google/ Facebook</p>

                                    <p>-&nbsp;Theo dõi và đo lường hiệu quả quảng cáo</p>

                                    <p>-&nbsp;Nắm bắt các xu hướng mới nổi.</p>

                                    <p>-&nbsp;Nghiên cứu thị trường và đối thủ.</p>

                                    <p>-&nbsp;Làm việc với đối tác quảng cáo, hãng.</p>

                                    <p>-&nbsp;Báo cáo các chiến dịch cũng như hiệu quả công việc.</p>

                                    <p><strong>2. QUYỀN LỢI ỨNG VIÊN</strong></p>

                                    <p>-&nbsp;Phụ cấp ăn trưa, máy tính làm việc</p>

                                    <p>-&nbsp;Có cơ hội học tập, phát triển và thăng tiến.</p>

                                    <p>-&nbsp;Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</p>

                                    <p>-&nbsp;Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước và các chế độ phúc lợi khác như thưởng lễ, tết, sinh nhật, lương tháng 13, 14, đào tạo với các chuyên gia hàng đầu, tham quan nghỉ mát trong và ngoài nước theo chính sách của Công ty.</p>

                                    <p>&nbsp;</p>

                                    <p><strong>3. YÊ</strong><strong>U CẦU CÔNG VIỆC</strong></p>

                                    <p>&nbsp;</p>

                                    <p>-&nbsp;Tốt nghiệp chuyên ngành marketing, CNTT…</p>

                                    <p>-&nbsp;Có ít nhất 1 năm kinh nghiệm</p>

                                    <p>-&nbsp;Thành thạo, hiểu biết chuyên sâu về Quảng cáo online; có nền tảng tốt về Marketing online, mạng xã hội.</p>

                                    <p>-&nbsp;Nắm vững các thuật toán của Facebook, Google, và các công cụ trong lĩnh vực Facebook/Google Analytic,</p>

                                    <p>-&nbsp;Kỹ năng giao tiếp, ứng xử tốt;</p>

                                    <p>-&nbsp;Kỹ năng làm việc độc lập và làm việc theo nhóm.</p>

                                    <p>-&nbsp;Có tinh thần trách nhiệm, tư duy mở và cầu tiến.</p>

                                    <p>-&nbsp;Đã từng làm việc tại các công ty agency là một lợi thế.</p>

                                    <p>- Ứng viên có cơ hội học tập, phát triển và thăng tiến.<br>
                                        - Được làm việc trong một môi trường hiện đại, năng động, bình đẳng và chuyên nghiệp</p>

                                    <p>- Được hưởng các chính sách phúc lợi riêng của Công ty: thưởng các loại, khám sức khỏe, nghỉ mát…<br>
                                        - Được hưởng các chế độ BHYT, BHXH, BHTN theo quy định của nhà nước.</p>

                                    <p><strong>Làm việc tại:</strong></p>

                                    <p>Trụ sở chính Siêu thị Điện máy HC 399 Phạm Văn Đồng, Xuân Đỉnh, Hà Nội</p>


                                    <p></p>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>