<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>List Supermarket</title>
    <!-- themify icon -->
    <link rel="stylesheet" href="./fonts/themify-icons/themify-icons.css">
    <!-- css -->
    <link rel="stylesheet" href="./css/find_sieuthi.css">
    <!-- css header -->
    <link rel="stylesheet" href="./css/ngoc_header.css">
</head>
<body>    
    <header class="header">
        <%-include("ngoc_header")%>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="new_supermarket">
                    <h1>Siêu thị mới</h1>
                    <ul class="list">
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="https://www.google.com/maps/dir//Si%C3%AAu+th%E1%BB%8B+%C4%91i%E1%BB%87n+m%C3%A1y+HC+Nha+Trang,+1200+L%C3%AA+H%E1%BB%93ng+Phong,+P,+Th%C3%A0nh+ph%E1%BB%91+Nha+Trang,+Kh%C3%A1nh+H%C3%B2a+650000,+Vi%E1%BB%87t+Nam/@12.2145505,109.189436,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x317067394ed0691f:0x6ad3c2d2058c9359!2m2!1d109.1916533!2d12.2145603!3e0">
                                Xem bản đồ
                            </a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                    </ul>
                </div>
                <h2>CÁC ĐỊA CHỈ GIAO DỊCH, THÔNG TIN LIÊN HỆ CỦA HỆ THỐNG SIÊU THỊ ĐIỆN MÁY HC</h2>
                <div class="list_supermarket">
                    <h1>Khu Vực Hà Nội</h1>
                    <ul class="hanoi">
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                    </ul>
                    <h1>Khu vực khác</h1>
                    <ul class="khac">
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                        <li>
                            <b>HC Nha Trang:</b>
                            1200 Lê Hồng Phong, P. Phước Long, Tp. Nha Trang, T. Khánh Hòa
                            <a href="#">Xem bản đồ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>