<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("head")%>
        <title>Document</title>
        <!-- fonts icon -->
        <link rel="stylesheet" href="./fonts/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="./css/ngoc_header.css">
</head>

<body>
    <header class="header">
        <%-include("ngoc_header")%>
    </header>
    <div class="container">

    </div>
    <footer>

    </footer>
</body>

</html>