<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("head")%>
        <title>Document</title>
        <!-- fonts icon -->
    <%-include("ngoc_head")%>

</head>

<body>
    <header class="header">
        <%-include("ngoc_header")%>
    </header>
    <div class="navbar">
        <%-include("ngoc_navbar")%>
    </div>
    <div class="container">

    </div>
    <footer>

    </footer>
</body>

</html>