<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Chi Tiết</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/listsp.css">
    <!-- boxicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-9 main">
                    <div class="header">
                        <div class="col-6">
                            <a href="#">
                                <img src="./image/1992236_BANNER_DESKTOP_IMAGE_1_89765.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="#">
                                <img src="./image/1992261_BANNER_DESKTOP_IMAGE_1_90652.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- Slider sản phẩm bán chạy -->
                    <div class="spbanchay">
                        <h1>Sản phẩm bán chạy</h1>
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- slide 1 -->
                                <div class="carousel-item active">
                                    <div class="slider">
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide 2 -->
                                <div class="carousel-item">
                                    <div class="slider">
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- slide 3 -->
                                <div class="carousel-item">
                                    <div class="slider">
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="show">
                                            <a href="#">
                                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                                            </a>
                                            <a href="#">
                                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                                            </a>
                                            <h4>3,190,000đ</h4>
                                            <div class="show_hidden">
                                                <a href="#">
                                                    <i class='bx bxs-cart'>
                                                        <p class="add_cart hover_flex">
                                                            Thêm vào giỏ hàng
                                                        </p>
                                                    </i>
                                                </a>
                                                <a href="#">
                                                    <i class='bx bxs-add-to-queue'>
                                                        <p class="add_like hover_flex">
                                                            Thêm vào mục ưu thích
                                                        </p>
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- nút prev và next -->
                            <button class="carousel-control-prev btn-menu" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next btn-menu" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <!-- xong slider -->
                    
                    <div class="showSp">
                        <h1>Có 100 tivi </h1>
                        <!-- bắt đâu show từng sản phẩm -->
                        <div class="show">
                            <a href="#">
                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                            </a>
                            <a href="#">
                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                            </a>
                            <h4>3,190,000đ</h4>
                            <div class="show_hidden">
                                <a href="#">
                                    <i class='bx bxs-cart'>
                                        <p class="add_cart hover_flex">
                                            Thêm vào giỏ hàng
                                        </p>
                                    </i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-add-to-queue' >
                                        <p class="add_like hover_flex">
                                            Thêm vào mục ưu thích
                                        </p>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="show">
                            <a href="#">
                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                            </a>
                            <a href="#">
                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                            </a>
                            <h4>3,190,000đ</h4>
                            <div class="show_hidden">
                                <a href="#">
                                    <i class='bx bxs-cart'>
                                        <p class="add_cart hover_flex">
                                            Thêm vào giỏ hàng
                                        </p>
                                    </i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-add-to-queue' >
                                        <p class="add_like hover_flex">
                                            Thêm vào mục ưu thích
                                        </p>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="show">
                            <a href="#">
                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                            </a>
                            <a href="#">
                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                            </a>
                            <h4>3,190,000đ</h4>
                            <div class="show_hidden">
                                <a href="#">
                                    <i class='bx bxs-cart'>
                                        <p class="add_cart hover_flex">
                                            Thêm vào giỏ hàng
                                        </p>
                                    </i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-add-to-queue' >
                                        <p class="add_like hover_flex">
                                            Thêm vào mục ưu thích
                                        </p>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="show">
                            <a href="#">
                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                            </a>
                            <a href="#">
                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                            </a>
                            <h4>3,190,000đ</h4>
                            <div class="show_hidden">
                                <a href="#">
                                    <i class='bx bxs-cart'>
                                        <p class="add_cart hover_flex">
                                            Thêm vào giỏ hàng
                                        </p>
                                    </i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-add-to-queue' >
                                        <p class="add_like hover_flex">
                                            Thêm vào mục ưu thích
                                        </p>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="show">
                            <a href="#">
                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                            </a>
                            <a href="#">
                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                            </a>
                            <h4>3,190,000đ</h4>
                            <div class="show_hidden">
                                <a href="#">
                                    <i class='bx bxs-cart'>
                                        <p class="add_cart hover_flex">
                                            Thêm vào giỏ hàng
                                        </p>
                                    </i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-add-to-queue' >
                                        <p class="add_like hover_flex">
                                            Thêm vào mục ưu thích
                                        </p>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="show">
                            <a href="#">
                                <img src="./image/GD.001686_DESKTOP_51361.jpg" alt="">
                            </a>
                            <a href="#">
                                <p>Bình nóng lạnh gián tiếp Ariston 20 lít SL2 20 RS 2.5 FE MT</h3>
                            </a>
                            <h4>3,190,000đ</h4>
                            <div class="show_hidden">
                                <a href="#">
                                    <i class='bx bxs-cart'>
                                        <p class="add_cart hover_flex">
                                            Thêm vào giỏ hàng
                                        </p>
                                    </i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-add-to-queue' >
                                        <p class="add_like hover_flex">
                                            Thêm vào mục ưu thích
                                        </p>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <!-- kết thúc show từng sản phẩm -->
                    </div>
                    <div class="nav_button">
                        <nav aria-label="...">
                            <ul class="pagination pagination-sm">
                              <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- fillter thanh tìm kiếm bên phải -->
                <div class="col fillter">
                    <h1 class="title">Lọc sản phẩm</h1>
                    <div class="nhomlienquan">
                        <h2>nhóm liên quan</h2>
                        <p><a href="#">Tivi</a></p>
                        <p><a href="#">Âm thanh & phụ kiện tivi</a></p>
                        <hr>
                    </div>
                    <div class="hangthuonghieu">
                        <h2>Hãng/thương hiệu</h2>
                        <p>
                            <input type="checkbox" id="all" class="form-check-input">
                            <label for="all">Toàn bộ</label>
                        </p>
                        <p>
                            <input type="checkbox" id="Samsung" class="form-check-input">
                            <label for="Samsung">Sam Sung</label>
                        </p>
                        <hr>
                    </div>
                    <div class="khoanggia">
                        <h2>Khoảng giá</h2>
                        <p>
                            <input type="checkbox" id="price_all" class="form-check-input">
                            <label for="price_all">Toàn bộ</label>
                        </p>
                        <p>
                            <input type="checkbox" id="duoi5tr" class="form-check-input">
                            <label for="duoi5tr">Dưới 5 triệu</label>
                        </p>
                        <p>
                            <input type="checkbox" id="tren5tr" class="form-check-input">
                            <label for="tren5tr">Trên 5 triệu</label>
                        </p>
                        <hr>
                    </div>
                </div>
                <!-- kết thúc fillter -->
            </div>
        </div>
    </section>
</body>
</html>