<div class="modal-form-n">
    <div class="modal-form__overlay">
    </div>
<!--    sign up-->
    <div class="modal-form__inner form-sign-up">
        <div class="modal-form__account">
            <div class="modal-form__account-header">
                <h3 class="modal-form__account-heading">Đăng Ký</h3>
                <botton class="modal-form__account-change btn__sign-in">Đăng Nhập</botton>
            </div>

            <div class="modal-form__account-body">
                <div class="modal-form__account-group">
                    <input type="text" class="modal-form__account-input" placeholder="Tên Đăng Nhập...">
                </div>
                <div class="modal-form__account-group">
                    <input type="number" class="modal-form__account-input" placeholder="Số Điện Thoại...">
                </div>
                <div class="modal-form__account-group">
                    <input type="password" class="modal-form__account-input" placeholder="Mật Khẩu...">
                </div>
                <div class="modal-form__account-group">
                    <input type="password" class="modal-form__account-input" placeholder="Nhập Lại Mật Khẩu...">
                </div>
            </div>

            <div class="modal-form__aside">
                <p class="modal-form__policy-text">
                    Bằng việc đăng ký, bạn đã đồng ý với chúng tôi về
                    <a href="" class="modal-form__policy-link">
                        Điều khoản dịch vụ
                    </a>&
                    <a href="" class="modal-form__policy-link">
                        Chính sách bảo mật
                    </a>
                </p>
            </div>

            <div class="modal-form__control">
                <button class="btn btn-muted btn-reload">QUAY LẠI</button>
                <button class="btn btn-primary">ĐĂNG KÝ</button>
            </div>
        </div>
        <div class="modal-form__socials">
            <a href="" class="social-btn btn btn-primary">
                <i class="social-btn-icon fab fa-facebook-square"></i>
                Liên kết với Facebook
            </a>
            <a href="" class="social-btn btn btn-light">
                <i class="social-btn-icon fab fa-google"></i>
                Liên kết với Google
            </a>
        </div>
    </div>

<!--    sign in-->
    <div class="modal-form__inner form-sign-in">
        <div class="modal-form__account">
            <div class="modal-form__account-header">
                <h3 class="modal-form__account-heading">Đăng Nhập</h3>
                <botton class="modal-form__account-change btn__sign-up">Đăng Ký</botton>
            </div>

            <div class="modal-form__account-body">
                <div class="modal-form__account-group">
                    <input type="text" class="modal-form__account-input" placeholder="Tên Đăng Nhập...">
                </div>
                <div class="modal-form__account-group">
                    <input type="password" class="modal-form__account-input" placeholder="Mật Khẩu...">
                </div>
            </div>

            <div class="modal-form__aside">
                <div class="modal-form_help">
                    <a href="" class="modal-form_help-link text-primary">Quên mật khẩu</a>
                    <span style="padding: 0 10px ;color: #d2d0d0"> | </span>
                    <a href="" class="modal-form_help-link">Trợ giúp ?</a>
                </div>
            </div>

            <div class="modal-form__control">
                <button class="btn btn-muted btn-reload">QUAY LẠI</button>
                <button class="btn btn-primary">ĐĂNG NHẬP</button>
            </div>
        </div>
        <div class="modal-form__socials">
            <a href="" class="social-btn btn btn-primary">
                <i class="social-btn-icon fab fa-facebook-square"></i>
                Đăng nhâp với Facebook
            </a>
            <a href="" class="social-btn btn btn-light">
                <i class="social-btn-icon fab fa-google"></i>
                Đăng nhâp với Google
            </a>
        </div>
    </div>
</div>

<script src="./js/ngoc_home.js"></script>
