
    <div class="footer__contain">
        <div class="footer__content">
            <div class="footer__information-content-title">
                <a href="/"><img src="./image/240777241_207394514712656_6245053509197559597_n.png" alt=""></a>
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon fas fa-map-marker-alt"></i>
                <span class="footer__information-text">Toà nhà Detech - ĐH FPT, Số 8, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, Hà Nội.</span>
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon ti-headphone-alt"></i>
                <span class="footer__information-text">Hotline:(024) 7300 8855 - 0973111086  </span>
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon ti-email"></i>
                <span class="footer__information-text">aptech.fpt@fe.edu.vn - hotro.he@gmail.com</span>
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon ti-alarm-clock"></i>
                <span class="footer__information-text">8:00AM - 22:00PM</span>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/thong-tin-lien-he" class="btn btn-primary" type="button"> Chi Tiết </a>
              </div>
        </div>
        <div class="footer__content">
            <h1>Nhận thông tin</h1>
            <div class="row">
                <div class="col-10">
                    <input type="email" class="form-control" placeholder="Để lại Email của bạn ..." aria-describedby="emailHelp">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
            </div>
        </div>
        <div class="footer__content">
            <div class="footer__link-element footer__certification">
                <img src="https://hc.com.vn/i/hc_ecommerce/image/icon/logo-bct.png" alt="">
            </div>
        </div>
    </div>
