<div class="my-header">
    <div class="header__top">
        <div class="row">
            <div class="header__logo">
                <a href="/">
                <img class="header__logo-img" src="./image/240777241_207394514712656_6245053509197559597_n.png" alt="" id="header-logo">
                </a>
            </div>

            <form action="/tim-kiem" method="GET" class="header__search">
                <input type="text" class="header__search-content" name="timkiem" placeholder="Tìm kiếm...">
                <button class="header__search-btn"><i class="search-btn-icon ti-search"></i></button>
            </form>

            <div class="header__cart">
                <a href="/giohang">
                    <i class="fas fa-shopping-cart cart">
                        <span>0</span>
                    </i>
                    <p>Giỏ Hàng</p>
                </a>
                <a href="/san-pham-quan-tam">
                    <i class="fas fa-heart like">
                        <span>0</span>
                    </i>
                    <p>Yêu Thích</p>
                </a>                
            </div>
        </div>
    </div>
    <div class="header__botton">
        <div class="header__botton-container">
            <div class="header__list-product">
                <i class="list-product ti-align-justify"></i>
                <p> Sản Phẩm</p>
                <i class="list-product ti-angle-double-down"></i>
                <div class="list-product-detail">
                    <ul class="js__list-product">

                    </ul>    
                    <div class="add-view">
                        <p class="xemthem">
                            Xem Thêm Sản Phẩm
                            <i class="fas fa-caret-square-right"></i>
                        </p>
                        <p class="thugon">
                            <i class="fas fa-caret-square-left"></i>
                            Thu Gọn
                        </p>
                    </div>                
                </div>
            </div>
            <div class="exit-hover"><span>X</span></div>
            <div class="header__navbar">
                <div class="sub-navbar">
                    <i class="sub-icon ti-align-justify"></i>
                </div>
                <ul class="header__navbar-list">
                    <li><a href="/load-navSpHot" class="header__navbar-content">Sản Phẩm Hot</a></li>
                    <li><a href="#" class="header__navbar-content">Góc Tư Vấn</a></li>
                    <li><a href="/tuyen-dung" class="header__navbar-content">Tuyển Dụng</a></li>
                    <li><a href="/thong-tin-lien-he" class="header__navbar-content">Thông Tin </a></li>
                </ul>
            </div>

            <div class="header-log">
                    <ul class="header__account">
                        <li><botton class="btn__sign-in"><i class="ti-lock"><span>Đăng Nhập</span></i></botton></li>
                        <div style="padding: 0 10px ;    line-height: 30px;"> | </div>
                        <li><botton class="btn__sign-up"><i class="ti-pencil-alt"><span>Đăng Kí</span></i></botton></li>
                    </ul>
                <div class="header__hotline"><i class="ti-headphone-alt"></i> Hotline: (024)7300 8855</div>
            </div>
            <div class="header-responsi">

                <div onclick="openLogInModal()" class="header__user-responsi"><i class="sub-icon fas fa-user"></i></div>
            </div>

        </div>
    </div>
</div>

<script src="./js/home.js"></script>

</script>
