
    <div class="footer__contain">
        <div class="footer__content">
            <div class="footer__information-content-title">
                <img src="https://hc.com.vn/i/ecommerce/media/hclogo_blue.png" alt="">
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon fas fa-map-marker-alt"></i>
                <span class="footer__information-text">VHC Tower, 399 Phạm Văn Đồng - Hà Nội</span>
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon ti-headphone-alt"></i>
                <span class="footer__information-text">CSKH: 19001788 (1500đ/Phút) -</span>
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon ti-email"></i>
                <span class="footer__information-text">Online@Hc.Com.Vn</span>
            </div>
            <div class="footer__information-content">
                <i class="footer__information-icon ti-alarm-clock"></i>
                <span class="footer__information-text">8:00AM - 22:00PM</span>
            </div>
        </div>

        <div class="footer__content">
            <div class="footer__title">
                <h3 class="footer__title-heading">VỀ ĐIỆN MÁY HC</h3>
            </div>
            <ul class="footer__links-list">
                <li><a href="" class="footer__link">Hệ thống siêu thị</a></li>
                <li><a href="" class="footer__link">Giới thiệu công ty</a></li>
                <li><a href="" class="footer__link">Cơ hội nghề nghiệp</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <div class="footer__title">
                <h3 class="footer__title-heading">HỖ TRỢ KHÁCH HÀNG</h3>
            </div>
            <ul class="footer__links-list">
                <li><a href="" class="footer__link">Mua hàng trả góp</a></li>
                <li><a href="" class="footer__link">Hướng dẫn mua hàng</a></li>
                <li><a href="" class="footer__link">Bảng giá lắp đặt điều hòa</a></li>
                <li><a href="" class="footer__link">Các hình thức thanh toán</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <div class="footer__title">
                <h3 class="footer__title-heading">CHÍNH SÁCH CHUNG</h3>
            </div>
            <ul class="footer__links-list">
                <li><a href="" class="footer__link">Chính sách sử dụng web</a></li>
                <li><a href="" class="footer__link">Chính sách bảo hành</a></li>
                <li><a href="" class="footer__link">Chính sách vận chuyển</a></li>
                <li><a href="" class="footer__link">Chính sách đổi trả hàng</a></li>
                <li><a href="" class="footer__link">Chính sách thẻ KHTT</a></li>
            </ul>
        </div>

        <div class="footer__content footer__certification">
            <img src="https://hc.com.vn/i/hc_ecommerce/image/icon/logo-bct.png" alt="">
        </div>
    </div>
