<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="header-logo col-md-2">
                <img src="https://hc.com.vn/i/hc_ecommerce/image/catalog/logo.png" alt="" id="header-logo">
            </div>

            <div class="header-search col-md-7">

                <input type="text" class="header-search_content" placeholder="Tìm kiếm...">
                <button class="header-search_button"><i class="ti-search"></i></button>
            </div>

            <div class="header-cart col-md-3">
                <ul class="header-cart_list">
                    <li class="header-cart_fovorite"><i class="ti-heart">Giỏ Hàng</i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header-botton">
    <div class="container">
        <div class="row">
            <div class="header-product-portfolio col-md-3">
                <i class="ti-align-justify"> <h3>Sản Phẩm</h3></i>
            </div>
            <div class="header-navbar col-md-5">
                <ul class="header-navbar_list">
                    <li><i>Sản Phẩm Hót</i></li>
                    <li><i>Góc Tư Vấn</i></li>
                    <li><i>Tuyển Dụng</i></li>
                    <li><i>Tìm Siêu Thị </i></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="header-login">
                    <li><i class="ti-lock">Đăng Nhập</i></li>
                    <li><i class="ti-pencil-alt">Đăng Kí</i></li>
                </ul>
            </div>
            <div class="header-hotline col-md-2"><i class="ti-headphone-alt"></i>Hotline : 0123456789</div>
        </div>
    </div>
</div>