<div class="my-navbar">
    <div class="nav-null"></div>
    <div class="slider-width">
        <div id="carouselExampleIndicators" class="my__slide carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item slide-item-img active">
                    <img src="https://hc.com.vn/i/ecommerce/media/1989357_BANNER_DESKTOP_IMAGE_1_90858.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item slide-item-img">
                    <img src="https://hc.com.vn/i/ecommerce/media/1997629_BANNER_DESKTOP_IMAGE_1_90059.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item slide-item-img">
                    <img src="https://hc.com.vn/i/ecommerce/media/1989411_BANNER_DESKTOP_IMAGE_1_90821.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="nav-aside">
        <div class="aside__sales">

                <div class="aside__sales-title">
                    <p>Sales sập sàn</p>
                </div>

            <div  class="my__slide">

                <div class="aside__items">
                    <ul class="aside__sale-list">
                        
                    </ul>
                </div>
        </div>
        </div>
    </div>
</div>

<script src="./js/navbar.js"></script>