<div class="header__top">
    <div class="container">
        <div class="row">
            <div class="header__logo col-md-2">
                <img class="header__logo-img" src="https://hc.com.vn/i/hc_ecommerce/image/catalog/logo.png" alt="" id="header-logo">
            </div>

            <div class="header__search col-md-7">

                <input type="text" class="header__search-content" placeholder="Tìm kiếm...">
                <button class="header__search-btn"><i class="search-btn-icon ti-search"></i></button>
            </div>

            <div class="header__cart col-md-3">
                <i class="cart-icon ti-shopping-cart">   Giỏ Hàng</i>
                <div style="padding: 0 10px ;    line-height: 15px;"> | </div>
                <i class="cart-icon ti-heart">  Yêu thích</i>
            </div>

        </div>
    </div>
</div>
<div class="header__botton">
    <div class="container">
        <div class="row">
            <div class="header__list-product col-md-2">
                <i class="list-product ti-align-justify"></i><p> Sản Phẩm</p>
                <div class="list-product-detail">
                    <ul>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2823891_HOMEICON_68004.png" alt="" style="color: #050505">
                                <span style="font-style: normal">Tivi, Loa, Âm Thanh</span>
                            </a>

                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2828117_HOMEICON_67993.png" alt="">
                                <span>Tủ lanh, Tủ Đông, Tủ Mát</span>
                            </a>
                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2828185_HOMEICON_67996.png" alt="">
                                <span>Máy giặt, Sấy Quần Áo</span>
                            </a>
                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2828228_HOMEICON_67997.png" alt="">
                                <span>Điều Hòa Nhiệt Độ</span>
                            </a>
                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2828685_HOMEICON_67998.png" alt="">
                                <span>Bình Nóng Lạnh, Lọc Nước</span>
                            </a>
                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2829114_HOMEICON_67999.png" alt="">
                                <span style="font-style: normal">Điện Gia Dụng</span>
                            </a>
                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2829259_HOMEICON_68001.png" alt="">
                                <span>Laptop, Điện Thoại</span>
                            </a>
                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2829261_HOMEICON_68002.png" alt="">
                                <span>PC, Màn Hình, Máy Văn Phòng</span>
                            </a>
                        </li>
                        <li class="product-content">
                            <a href="" class="product-content-link">
                                <img class="product-content-icon" src="https://hc.com.vn/i/ecommerce/media/2829262_HOMEICON_68003.png" alt="">
                                <span>Đồng Hồ, Máy Ảnh</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="header__navbar col-md-6">
                <ul class="header__navbar-list">
                    <li><a href="#" class="header__navbar-content">Sản Phẩm Hót</a></li>
                    <li><a href="#" class="header__navbar-content">Góc Tư Vấn</a></li>
                    <li><a href="#" class="header__navbar-content">Tuyển Dụng</a></li>
                    <li><a href="#" class="header__navbar-content">Tìm Siêu Thị </a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row">
                <ul class="header__account col-md-7">
                    <li><i class="ti-lock">Đăng Nhập</i></li>
                    <div style="padding: 0 10px ;    line-height: 30px;"> | </div>
                    <li><i class="ti-pencil-alt">Đăng Kí</i></li>
                </ul>
                <div class="header__hotline col-md-5"><i class="ti-headphone-alt"></i> Hotline : 0123456789</div>
            </div>
            </div>
        </div>
    </div>
</div>

