<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="header-logo col-md-2">
                <img src="https://hc.com.vn/i/hc_ecommerce/image/catalog/logo.png" alt="" id="header-logo">
            </div>

            <div class="header-search col-md-7">
                <input type="text" class="header-search_content">
                <button class="header-search_icon"><i class="ti-search"></i></button>
            </div>

            <div class="header-cart col-md-3">
                <ul class="header-cart_list">
                    <li class="header-cart_fovorite"><i class="ti-heart"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>