<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tuyendung")%>
    <title>Tuyển Dụng</title>

</head>
    <body>
    <div class="main-container container">
        <div class="wrap-td clearfix">
            <h2 class="title-result-find">Tuyển dụng</h2>
            <div class="wrap-list-cv">

                <div class="list-cv">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <h5> <a href="/cv1"  class="title-cv">
                                QUẢN LÝ NGÀNH HÀNG ĐIỆN LẠNH - GIA DỤNG, ĐIỆN TỬ - ITM
                                </a></h5>
                            <h6 class="add-cv">
                                Quản Lý Ngành Hàng
                            </h6>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="detail-info-cv row">
                                <div  class="info-cv col-sm-6">
                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                        12-15
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                            :</strong> Siêu thị Điện máy HC CN Sài Đồng -Long Biên -Hà Nội</p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-user"></i>
                                        <strong>Số lượng tuyển : </strong>
                                        2
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-clock-o"></i>
                                        <strong>Thời gian nộp hồ sơ :</strong>
                                        31/08/2021
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr/>
                </div>
                <div class="list-cv">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5> <a href="/cv2" class="title-cv">
                                GIÁM ĐỐC CHI NHÁNH SÀI ĐỒNG - LONG BIÊN
                                </a></h5>
                            <h6 class="add-cv">
                                Giám Đốc chi nhánh
                            </h6>
                        </div>
                        <div align="right" class="col-sm-12 ">
                            <div class="detail-info-cv row">
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                        Thảo Thuận
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                            :</strong> 765A Nguyễn Văn Linh - Sài Đồng - Long Biên - Hà Nội</p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-user"></i>
                                        <strong>Số lượng tuyển : </strong>
                                        1
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-clock-o"></i>
                                        <strong>Thời gian nộp hồ sơ :</strong>
                                        31/08/2021
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr/>
                </div>
                <div class="list-cv">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <h5> <a href="/cv3"  class="title-cv">
                                SALES ADMIN
                                </a></h5>
                            <h6 class="add-cv">
                                ADMIN
                            </h6>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="detail-info-cv row">
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                        7-9TR
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                            :</strong> Số 399 Phạm Văn Đồng, Xuân Đỉnh, Hà Nội</p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-user"></i>
                                        <strong>Số lượng tuyển : </strong>
                                        2
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-clock-o"></i>
                                        <strong>Thời gian nộp hồ sơ :</strong>
                                        30/07/2021
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr/>
                </div>
                <div class="list-cv">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <h5><a href="/cv4" class="title-cv">
                                TUYỂN DỤNG KỸ THUẬT LẮP ĐẶT TẠI HÀ NỘI
                                </a></h5>
                            <h6 class="add-cv">
                                KỸ THUẬT LẮP ĐẶT
                            </h6>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="detail-info-cv row">
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                        5-10TR
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                            :</strong> Số 63 Vạn Phúc, Hà Đông, Hà Nội</p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-user"></i>
                                        <strong>Số lượng tuyển : </strong>
                                        15
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-clock-o"></i>
                                        <strong>Thời gian nộp hồ sơ :</strong>
                                        30/06/2021
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr/>
                </div>
                <div class="list-cv">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h5><a href="/cv5" class="title-cv">
                                TUYỂN DỤNG KỸ THUẬT GIAO LẮP TẠI HÀ NỘI
                                </a></h5>
                            <h6 class="add-cv">
                                Kỹ Thuật Lắp Đặt
                            </h6>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="detail-info-cv row">
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                        7-12 triệu
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                            :</strong> Số 63 Vạn Phúc, Hà Đông</p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-user"></i>
                                        <strong>Số lượng tuyển : </strong>
                                        9
                                    </p>

                                </div>
                                <div class="info-cv col-sm-6">
                                    <p><i class="fa fa-clock-o"></i>
                                        <strong>Thời gian nộp hồ sơ :</strong>
                                        31/05/2021
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr/>
                </div>
                <div class="pagination">
                    <span class="pages">Trang 1 / 2 </span>
                    <span class="current">1</span>
                    <a id="PAGE_2" data-pageid="2" href="/tuyendung2" onclick="return true;" class="page" title="2"> 2</a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>