<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head_tuyendung")%>
    <title>Tuyển Dụng</title>

</head>
<body>
<div class="main-container container">
    <div class="wrap-td clearfix">
        <h2 class="title-result-find">Tuyển dụng</h2>
        <div class="wrap-list-cv">

            <div class="list-cv">
                <div class="row">
                    <div class="col-sm-12">
                        <h5><a href="/cv6" class="title-cv">
                            TUYỂN DỤNG NHÂN VIÊN KHO TẠI HÀ NỘI
                            </a></h5>
                        <h6 class="add-cv">
                            Nhân Viên Kho
                        </h6>
                    </div>
                    <div class="col-sm-12">
                        <div class="detail-info-cv row">
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                    6-10 triệu
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                        :</strong> 	Số 63 Vạn Phúc, Hà Đông  – Hà Nội </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-user"></i>
                                    <strong>Số lượng tuyển : </strong>
                                    9
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-clock-o"></i>
                                    <strong>Thời gian nộp hồ sơ :</strong>
                                    31/05/2021
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="list-cv">
                <div class="row">
                    <div class="col-sm-12">
                        <h5><a href="/cv7" class="title-cv">
                            NHÂN VIÊN BÁN HÀNG ONLINE
                            </a></h5>
                        <h6 class="add-cv">
                            Bán hàng Online
                        </h6>
                    </div>
                    <div class="col-sm-12">
                        <div class="detail-info-cv row">
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                    8-15tr
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                        :</strong> Số 399 Phạm Văn Đồng, Xuân Đỉnh, Bắc Từ Liêm, Hà Nội</p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-user"></i>
                                    <strong>Số lượng tuyển : </strong>
                                    4
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-clock-o"></i>
                                    <strong>Thời gian nộp hồ sơ :</strong>
                                    31/05/2021
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="list-cv">
                <div class="row">
                    <div class="col-sm-12">
                        <h5><a href="/cv8" class="title-cv">
                            TRƯỞNG PHÒNG KHO VẬN TẠI HÀ NỘI
                            </a></h5>
                        <h6 class="add-cv">
                            Trưởng Phòng
                        </h6>
                    </div>
                    <div class="col-sm-12">
                        <div class="detail-info-cv row">
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                    Thỏa thuận
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                        :</strong> 399 Phạm Văn Đồng, Xuân Đỉnh, Bắc Từ Liêm, HN - 63 Vạn Phúc, Hà Đông, Hà Nội</p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-user"></i>
                                    <strong>Số lượng tuyển : </strong>
                                    1
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-clock-o"></i>
                                    <strong>Thời gian nộp hồ sơ :</strong>
                                    30/04/2021
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="list-cv">
                <div class="row">
                    <div class="col-sm-12">
                        <h5><a href="/cv9" class="title-cv">
                            CHUYÊN VIÊN MARKETING GOOGLE
                            </a></h5>
                        <h6 class="add-cv">
                            Quảng Cáo Google
                        </h6>
                    </div>
                    <div class="col-sm-12">
                        <div class="detail-info-cv row">
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                    10-15tr
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                        :</strong> 399 Phạm Văn Đồng, Cổ Nhuế, Bắc Từ Liêm, Hà Nội</p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-user"></i>
                                    <strong>Số lượng tuyển : </strong>
                                    2
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-clock-o"></i>
                                    <strong>Thời gian nộp hồ sơ :</strong>
                                    29/04/2021
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="list-cv">
                <div class="row">
                    <div class="col-sm-12">
                        <h5><a href="/cv10" class="title-cv">
                            CHUYÊN VIÊN MARKETING
                            </a></h5>
                        <h6 class="add-cv">
                            MARKETING
                        </h6>
                    </div>
                    <div class="col-sm-12">
                        <div class="detail-info-cv row">
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-dollar"></i> <strong>Mức lương :</strong>
                                    10-15TR
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-map-marker"></i> <strong>Địa điểm làm việc
                                        :</strong> 399 Phạm Văn Đồng, Bắc từ Liêm, Hà Nội</p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-user"></i>
                                    <strong>Số lượng tuyển : </strong>
                                    1
                                </p>

                            </div>
                            <div class="info-cv col-sm-6">
                                <p><i class="fa fa-clock-o"></i>
                                    <strong>Thời gian nộp hồ sơ :</strong>
                                    06/04/2021
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="pagination">
                <span class="pages">Trang 2 / 2</span>
                <a id="PAGE_1" data-pageid="1" href="/tuyendung" onclick="return true;" class="page" title="1"> 1</a>
                <span class="current">2</span>
            </div>

        </div>
    </div>
</div>
</body>
</html>