:root {
    --color-blue: #3B2CE3;
    --backgroundColor-left: #DEDEED;
    --color-orange: #FB937C;
    --background-color:#8684A0;
    --color-2: #775ABB;
    --color-3: #8A815E;
}
body {
    background-color: #eeeef5;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
.container {
    max-width: 1000px;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.row {
    margin: 0;
}
.header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--backgroundColor-left);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header-dashboard .nav {
    flex-wrap: nowrap;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
.nav .info_user {
    display: flex;
    align-items: center;    
}
.nav p {    
    font-weight: 600;
    margin-bottom: 0;
}
.nav i.bx.bxs-bell {
    margin: 7px 0 0 0;
    font-size: 20px;
    cursor: pointer;
}
.notification {
    margin-right: 10px;
}
.nav i.bx.bxs-down-arrow {
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    cursor: pointer;
}
.more_user {
    position: relative;
}
img {
    width: 32px;
    margin-right: 10px;
}
ul.more_menu {
    position: absolute;
    top: 40px;
    right: -10px;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 160px;
    padding: 0 0 0 10px;
    background-color: var(--backgroundColor-left);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
ul.more_menu.active {
    display: flex;
}
.more_menu li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 100%;
    padding: 5px 0;
    cursor: pointer;
}
.more_menu li:active {
    opacity: 0.8;
}
.more_menu i {
    margin-right: 10px;
}
.slider_left {
    background-color: var(--backgroundColor-left);
    border-bottom-left-radius: 10px;
}
.slider-child {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 100%;
    padding: 10px 5px;
    margin: 14px 0;
    border-radius: 5px;
    cursor: pointer;
}
.slider-child.active {
    background-color: white;
}
.slider-child:active {
    opacity: 0.8;
}
.slider-child p {
    margin-bottom: 0;
    text-transform: capitalize;
}
.slider-child i {
    margin-right: 10px;
    font-size: 25px;
}

/* css body home */
.add-body .body {
    display: none;
}
.add-body .body.active {
    display: block;
}
.col .nav {
    margin: 0 -12px;
    background-color: var(--backgroundColor-left);
}
ul.nav {
    padding-left: 2rem;
}
ul.nav.nav-tabs {
    border-bottom: 1px solid;
}
span.nav-link {
    font-weight: 600;
    cursor: pointer;
}
a.nav-link.active {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.nav-tabs .nav-link.active {
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
}
.dashboard-body {
    display: none;
}
.dashboard-body.active {
    display: block;
}
.col h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
}
.form-label {
    margin-bottom: 0;
}
.btn-chantrang {
    margin: 20px 0 10px 0;
}
.row.align-center {
    align-items: center;
}
.timkiem {
    padding: 0;
    margin-left: -12px;
}
.list-button {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.list-button ul {
    margin-bottom: 0;
}


/* css thêm cho giỏ hàng */
.order thead {
    
}
.ship button.done {
    padding: 0;
    margin: 0;
    width: 100px;
}
.order-body {
    display: none;
}
.order-body.active {
    display: block;
}