.banner_slider {
    padding: 20px 30px;
}
img {
    width: 100%;
}

.my-body-section {
    padding: 0 3%;
}

.banner_QC {
    margin-bottom: 30px;
}
.banner_left {

}
.banner_left img {
    margin-bottom: 22px;
}
.camket {

    color: #9b9b9b;
    margin: 18px 0;
}

.camket-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.camket-link:hover H1 {
    color: #ff6600;
    transition: 0.4s;
}

.camket h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}
.icon {
    width: 30%;
    margin-right: 10px;
}
.icon.shippig {
    width: 84px;
}
.icon img {
    width: 100%;
}
.camket p {
    text-transform: capitalize;
    font-size: 14px;
}
.banner_right {
    margin: 0 -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_right div {
    padding: 0 10px;
}
.spbanchay h1 {
    margin-bottom: -20px;
    text-transform: capitalize;
    font-size: 30px;
}
.QC_sanpham {
    display: flex;
    align-items: center;
    margin: 30px -10px;
}
.QC_sanpham .col-6 {
    padding: 0 10px;
    width: 50%;
    border-radius: 5px;
}
.sanphamhot h1 {
    text-transform: capitalize;
    font-size: 30px;
}
.sanphamhot_conten .show:hover {
    border: 1px solid var(--color-ori);
    border-radius: 5px 5px 0 0;
}
.button_show {
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    transform: translateY(98%);
    background-color: var(--color-ori);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    z-index: 9999;
}
.button_show a {
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: 500;
}
.sanphamhot_conten .show:hover .button_show {
    display: flex;
}