section {
    margin-top: 40px;
}
.list li {
    list-style-type: disc;
}
h1 {color: red;font-size: 25px;}

h2 {
    font-size: 20px;
}

li {
    font-size: 14px;
}
/* ẩn drop menu */
.list-product-detail.list-product-detail {
    display: none;
}
.header__list-product:hover .list-product-detail.list-product-detail {
    display: block;
}