* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
<<<<<<< HEAD
    font-weight: 400;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
=======
    font-size: 14px;
>>>>>>> 6ce985dc08bdbc4d80f7022487224a7cb336494f
}