.footer__contain {
    background-color: #dddddd;
    display: flex;
    padding-left: 32px;
}

.footer__content {
    margin: 0 8px;
    flex: 1;
    padding: 8px;
}

.footer__information-content-title {

}

.footer__information-content-title img {
    height: 72px;
    width: auto;
}

.footer__information-content {
    margin: 8px 0;
}

.footer__title {
    border-bottom: 2px solid blue;
    margin-bottom: 28px;
}

.footer__title-heading {
    font-size: 18px;
}

.footer__links-list {
    padding-left: 0;
}

.footer__links-list li {
    margin: 12px 0;
}

.footer__link {

    text-decoration: none;
}

.footer__certification {
    flex: 2;
    display: flex;
    justify-content: center;
}

.footer__certification img {
    height: 72px;
    width: auto;
}

