@media (min-width: 1200px){
    .container {
        max-width: 1256px;
    }}
.header {
    background-color: #0652b8;
    color: #fff;
}
.cart-icon{
    font-weight: 600;
    display: block;

}

.header__top{
    height: 42px;
    padding: 4px ;
}

.header__logo{}
.header__logo-img{
    height: 40px;
    width: auto;
}

.header__search{
    display: flex;
    height: 36px;
    background-color: white;
    border-radius: 4px;
    padding-right: 0;
}

.header__search-content{
    line-height: 16px;
    border: none;
    flex: 1;
}

.header__search-btn{
    width: 70px ;
    height: 32px;
    border: none;
    background-color: blue;
    border-radius: 2px;
    margin: 2px ;
}

.search-btn-icon{
    color: white;
    font-size: 15px;
}

.header__cart{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 10px;
}

.header__botton{
    height: 44px;
    padding-top: 8px;
    font-size: 14px;

}


.header__list-product{
    background-color: #fff200;
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
    display: flex;
    position: relative;
}

.header__list-product p {
    margin: 0 16px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: blue;
    line-height: 36px;

}

.list-product{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
}

.list-product-detail{
    background-color: #dddddd;
    color: #333;
    position: absolute;
    z-index: 1000;
    top: 36px;
    left: 0;

    width: 100%;

}

.list-product-detail ul {
    padding-left: 10px;
    list-style: none;
}

.product-content {

    margin: 8px 0;

}

.product-content-link {
    display: flex;
    align-items: center;
    color: #333333;
}

.product-content-link:hover {
    text-decoration: none;
}

.product-content:hover{
    opacity: 0.8;

}

.product-content-icon {
    height: 16px;
    width: auto;
    margin-right: 4px;
}

.product-content span {
    font-style: normal;
}


.header__navbar{

    padding : 0 30px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 600;
}
.header__navbar-list{
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.header__navbar-list li {
    background-color: blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 8px;

}

.header__navbar-content{
    text-decoration: none;
    display: block;
    color: white;
    padding: 2px 12px;

}

.header__navbar-content:hover {
    font-size: 16px;
    background-color: white;
    color: blue;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header__account{
    line-height: 32px;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}

.btn__sign-in,.btn__sign-up {
    cursor: pointer;
}

.btn__sign-in:hover,.btn__sign-up:hover {
    opacity: 0.7;
}

/*.header__account-login{*/
/*    font-family: Roboto,sans-serif;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    padding: 0;*/
/*}*/

.header__hotline.col-md-5 {
    text-align: right;
    line-height: 32px;
    padding: 0;
}

/*Modal form*/

.modal-form-n {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
    animation: fadeIn ease-in 0.3s;

}

.modal-form-n.open {
    display: flex;
}

.modal-form__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-form__inner {
    margin: auto;
    position: relative;
    z-index: 10001;
    border-radius: 5px;
    background-color: white;
    width: 500px;
    animation: growth linear 0.3s;
    display: none;
}

.form-sign-up.open,
.form-sign-in.open {
    display: block;
}

.modal-form__account {
    padding: 0 32px;
}

.modal-form__account-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
    padding-top: 12px;
}

.modal-form__account-heading {
    font-size: 18px;
    font-weight: 600;
    margin: 32px 0;
    padding-left: 6px;
}

.modal-form__account-change {
    font-weight: 400;
    font-size: 14px;
    color: blue;
    cursor: pointer;
    padding: 6px;
    border-radius: 2px;
}

.modal-form__account-change:hover {
    background-color: #b4b4b4;
    opacity: 0.7;
}

.modal-form__account-input {
    width: 100%;
    height: 40px;
    margin-top: 14px;
    padding: 0 12px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #888;
}

.modal-form__aside {
    margin-top: 18px;
    padding: 0 8px;
}

.modal-form__policy-text {
    font-size: 14px;
    text-align: center;

}

.modal-form__control {
    display: flex;
    justify-content: flex-end;
    margin: 18px 0;
}

.modal-form__control button {
    margin: 0 4px;
}

.btn-reload:hover{
    background-color: #dddddd;
    color: blue;
}

.modal-form__socials {
    height: 50px;
    border-radius: 4px;
    margin-top: 16px;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 0;
}

.social-btn.btn {
    margin: 0 8px;
    padding: 6px 24px;
}

.social-btn-icon {
    padding: 0;
}

.modal-form_help {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: -10px 0 30px;
}

.modal-form_help-link {

}

.modal-form_help-link:hover {
    text-decoration: none;
    opacity: .7;
}

/*animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}