@media (min-width: 1200px){
    .container {
        max-width: 1256px;
    }}
.header {
    background-color: #0652b8;
    color: #fff;
}
.cart-icon{
    font-weight: 600;
    display: block;

}

.header__top{
    height: 42px;
    padding: 4px ;
}

.header__logo{}
.header__logo-img{
    height: 40px;
    width: auto;
}

.header__search{
    display: flex;
    height: 36px;
    background-color: white;
    border-radius: 4px;
    padding-right: 0;
}

.header__search-content{
    line-height: 16px;
    border: none;
    flex: 1;
}

.header__search-btn{
    width: 70px ;
    height: 32px;
    border: none;
    background-color: blue;
    border-radius: 2px;
    margin: 2px ;
}

.search-btn-icon{
    color: white;
    font-size: 15px;
}

.header__cart{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 10px;
}

.header__botton{
    height: 44px;
    padding-top: 8px;
    font-size: 14px;

}


.header__list-product{
    background-color: #fff200;
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
    display: flex;
    position: relative;
}

.header__list-product p {
    margin: 0 16px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: blue;
    line-height: 36px;

}

.list-product{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
}

.list-product-detail{
    background-color: #dddddd;
    color: #333;
    position: absolute;
    z-index: 1000;
    top: 36px;
    left: 0;

    width: 100%;

}

.list-product-detail ul {
    padding-left: 10px;
    list-style: none;
}

.product-content {

    margin: 8px 0;

}

.product-content-link {
    display: flex;
    align-items: center;
    color: #333333;
}

.product-content-link:hover {
    text-decoration: none;
}

.product-content:hover{
    opacity: 0.8;

}

.product-content-icon {
    height: 16px;
    width: auto;
    margin-right: 4px;
}

.product-content span {
    font-style: normal;
}


.header__navbar{

    padding : 0 30px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 600;
}
.header__navbar-list{
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.header__navbar-list li {
    background-color: blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 8px;

}

.header__navbar-content{
    text-decoration: none;
    display: block;
    color: white;
    padding: 2px 12px;

}

.header__navbar-content:hover {
    font-size: 16px;
    background-color: white;
    color: blue;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header__account{
    line-height: 32px;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}

.header__account-login{
    font-family: Roboto,sans-serif;
    list-style: none;
    display: flex;
    padding: 0;
}

.header__hotline.col-md-5 {
    text-align: right;
    line-height: 32px;
    padding: 0;
}

