.my-navbar {
    display: flex;
    padding: 20px 3%;
}

.nav-null {
    width: 20%;
}

.slider-width {
    width: 55%;
}

.my__slide {
    /*height: 310px;*/
}

.nav-aside {
    width: 25%;
    padding-left: 16px;
}
.carousel-inner {
    height: 100%;
    padding-left: 8px;
}

.aside__sales {
    padding: 0;
    height: 100%;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.aside__sales-control {

}
.aside__sales-title {
    height: 40px;
    background-color: #dddddd;
    color: #333333;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.aside__items {
    margin: 0;

}

.aside__sale-list {

    padding : 0 16px;
}

.aside__sale-item {
    padding-top: 4px;
    list-style: none;

}

.aside__sale-item-link:hover {
    text-decoration: none;
    opacity: .7;
}

.aside__sale-item-link {
    display: flex;

}

.aside__sale-item-img {
    height: 60px;
    width: auto;
}

.aside__sale-item-content {
    padding-left: 10px;
}
.aside__sale-item-description {
    text-align: right;
}
.aside__sale-item-count {
    color: red;
    font-weight: 600;
}

@media screen and (max-width: 1260px){
    .my-navbar {
        flex-direction: column;

    }

    .slider-width,
    .nav-aside{
        width: 100%;
        padding: 0 10%;

    }

    .nav-aside {
        margin-top: 20px;
    }

    .carousel-inner {
         padding-left: 0px;
    }

    .aside__sale-list {

        padding: 0 16px;
        display: flex;
    }

}

/*Ipad : width<1260px and width >= 992px */
@media only screen and (max-width: 1260px) and (min-width: 992px){


}

@media only screen and  (max-width: 992px) {
    .nav-aside {
        display: none;
    }
}